#if($r.isTrue($licenseWarning))
	<div class="o_warning"><i class="o_icon o_icon_important"> </i> <strong>$r.translate("warning.different.licenses.title")</strong><br>
	$r.translate("warning.different.licenses")</div>
#end
$r.render("shares")
#if($r.visible("group.by"))
	$r.render("group.by")
#end
<div class="o_button_group">
	$r.render("create.test")
	$r.render("cancel")
</div>