/* HELP, context sensitive */
a.o_chelp,
.tox .tox-dialog .tox-form a.o_chelp {
	display: inline-block;
	padding: 1px 3px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: $o-chelp-font-size;
	font-weight: $o-chelp-font-weight;
	line-height: floor($o-chelp-font-size *1.5);
	color: $o-chelp-color;
	background-color: $o-chelp-bg;
	border: 1px solid $o-chelp-border;
	border-radius: $o-chelp-border-radius;
	cursor: help;
 	@include user-select(none);

	&:active,
	&:hover,
	&:focus {
		text-decoration: none;
		color: $o-chelp-color;
		background-color: darken($o-chelp-bg, 8%);
		border-color: darken($o-chelp-border, 12%);
	}
	
	i {
		font-size: $o-chelp-font-size !important;
	}
}
.o_chelp_wrapper { 
	position: relative;
	float: right;
	display: inline-block;
	line-height: normal;
	margin-bottom: 10px;
	margin-left: 10px;
}

/* context help for input element in forms, right from label and context help tooltips */
.o_form_chelp, 
.o_chelp_tooltip {
	color: $o-chelp-tooltip-color;
}

#o_container_page_width_toggler {
	z-index: 7;
}

/* Session timeout */
#myFunctionalModal p>a.btn.btn-primary {
	margin-top: 15px;
}

/* drawing */
.o_draw_circle {
	border: $o-drawing-border-width solid $o-drawing-border-color;
	border-radius: 50%;
	position: absolute !important;
	box-sizing: border-box;
}

.o_draw_rectangle {
	border: $o-drawing-border-width solid $o-drawing-border-color;
	position: absolute !important;
	box-sizing: border-box;
}


/* iframe display controller - used to deliver all course contents */
.o_iframedisplay {
	iframe {
		width: 100%;
	}
}

/* normally content is wrapped in a single page which uses an iframedisplay */
.o_singlepage {
	position: relative;
	.o_edit_wrapper {
		position: absolute;
		top: 0;
		right: 0;
		background: rgba(255,255,255, 0.8);
		background: linear-gradient(188deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9430147058823529) 35%, rgba(255,255,255,0) 100%);
		border-radius: $border-radius-small;
		padding: 0 0 20px 10px;
		.o_edit {
			@include opacity(.8);	
		}
 	}
	&:hover .o_edit_wrapper .o_edit { @include opacity(1); }
}

/* content packaging module */
.o_module_cp_wrapper {
	position: relative;
	.o_tools {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		vertical-align: middle;
		
		.o_search_wrapper {
			display: inline-block;
			
			/* remove space around search icon */
			.form-inline .form-group {
				vertical-align: baseline;
			}
			.form-control-static {
				padding: 0;
			}
	 	}
	}
}

/* drop down menus made with OO modal dialog and not bootstrap dropdown */
ul.o_dropdown {
	/* revert padding from popover */
	margin: -5px -14px;
	.divider {
		@include nav-divider($dropdown-divider-bg);
	}
	
	> li > a {
		display: block;
		padding: 5px 14px;
		clear: both;
		font-weight: normal;
		line-height: $line-height-base;
		color: $dropdown-link-color;
		background: $dropdown-bg;
		white-space: nowrap; // prevent links from randomly breaking onto new lines
		text-overflow: ellipsis;
		overflow: hidden;
		
		&:hover,
		&:focus {
			text-decoration: none;
			color: $dropdown-link-hover-color;
			background-color: $dropdown-link-hover-bg;
		}
	}
	
	> li > i.o_icon_check {
		display: inline-block;
		padding-left: 14px;
	}
	
	> li > i.o_icon_check + a {
		display: inline-block;
		padding-left: 5px;
	}
}

/* Empty state in various modules */
.o_empty_state {
	text-align: center;
	padding: 1.5em 2em 1em 2em;
	margin: 1em 0;
	border: $o-empty-border-color;
	border-radius: $o-empty-border-radius;
	
	.o_empty_visual {
		display: inline-block;
		position: relative;
	
		// indicator
		i:first-child {
			position: absolute;
			left: -20%;
			bottom: 10%; 
			font-weight: bold;
			font-size: 2em;
			color: $o-empty-indicator-color;
			text-shadow: 5px 10px 10px rgba(0,0,0,.2);
		}
		
		// large icon
		i:nth-child(2) {
			font-weight: bold;
			font-size: 4em;
			color: $o-empty-icon-color;
			min-width: 48px;
		}
	}
	.o_empty_msg {
		margin-top: 0.5em;
		color: $o-empty-msg-color;	
		font-size: 1.5em;
	}
	.o_empty_hint {
		margin: 0.5em;
	}
	.o_empty_action {
		margin: 0.5em;
	}
	
	@media (max-width: $screen-xs-max) { 
		margin: 2em auto 1.5em auto;
		
		.o_empty_visual {
			i:first-child {
				font-size: 1.5em;
				left: 7%;
			}
			i:nth-child(2) {
				font-size: 3em;
			}		
		}
		.o_empty_msg {
			font-size: 1.25em;
		}
	}
}
.panel .o_empty_state,
.o_portlet .o_empty_state,
.o_peekview .o_empty_state,
.modal-dialog .o_empty_state {
	font-size: 0.8em;
}

.panel .o_empty_state,
.o_portlet .o_empty_state,
.o_peekview .o_empty_state {
	border: none;
	border-radius: none;
}

/* briefcase (folder) module */
.o_bc_meta, .tooltip {
	@extend %o_small;
	h5, .o_author, .o_comment {
		color: #fff;
		margin: 5px 0;
	}
	.o_thumbnail{
		width:200px; 
		height:200px;
		display: inline-block; /* render centered if title larger than image */
		background-color: #fff;
		margin: 0 -5px; /* remove ugly border */
	}
}

.o_bc_table {
	white-space: nowrap;
	.o_bc_filename {
		white-space: normal;
		word-break: break-word;
	}
	.o_table_checkall {
		width: 1%;
	}	
}


/* HTML editor */
.o_htmleditor {
	.o_metadata {
		/* match tinymce style */
		border: 1px solid #999;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom: 0;
		background: #eee;
		position: relative;
		top: 1px;
		padding: 5px;

		#o_filename {
			float: left;
		}
		.o_lastmodified {
			float: right;
			color: $text-muted;	
			@extend %o_small;
			line-height: $line-height-base;
		}
	}
	#o_save {
		margin-top: 10px;
		text-align: center;
		input {
			margin-right: 1em;
			&:last-child {
				margin-right: 0;		
			}
		}
	}
}

.tox-noborder .tox-tinymce {
	border: none;
}

/* File download */
.o_file_upload {
	border-bottom: 1px solid $o-file-upload-border-bottom-color;
	max-width: 600px;
	display: grid;
  	grid-template-columns: auto 4em;
	
	.o_file_meta {
		margin-right: 4em;
	
		.o_file {
			display: block;
		}
		.o_file_date, .o_file_type, .o_file_size {
			text-transform: uppercase;
			color: $text-muted;
		}
		.o_file_type:before, .o_file_size:before {
			content: "\007C";
			padding: 0 5px;
		}
	}
	
	.o_file_actions {
		white-space: nowrap;
		a {
			font-size: 2em;
			vertical-align: bottom;
		}
	}
}

/* notifications and subscription */
.o_notifications_news_wrapper {
	.o_notifications_news_subscription {
		margin: $padding-large-vertical 0;
		h4 i {
			display: none;
		}
		.o_notifications_news_context {
			color: $text-muted;	
		}
		.o_notifications_news_content {
			margin-left: 1.5em;
			position: relative;
			.o_icon {
				position: absolute;
				left: -1.5em;
				line-height: 1.5em;
			}
			.o_date {
				color: $text-muted;
			}
		}
		.o_notifications_news_url {
			margin-left: 1.5em;			
		}
	}
	.o_notifications_subs_callout {
		display: flex;
		align-items: baseline;
		padding-bottom: 10px;

		.o_notifications_help {
			display: flex;
			align-items: baseline;
			gap: 15px;
			margin-left: auto;
		}
	}

	>div .o_table_toolbar {
		margin-top: 0;
	}
	>div .o_table_wrapper .container-fluid {
		padding-right: 0;
		padding-left: 0;
	}
}
.o_noti {
	margin: $padding-base-vertical 0 $padding-base-vertical $padding-base-horizontal;
	float: right;
	color: $text-muted;	
	@extend %o_small;
	.o_label {
		@extend %o_undecorated;
		color: $text-muted;	
		cursor:help;
	}
	@media (max-width: $screen-xs-max) { 
		.o_label span {
			display: none;
		}	
	}
}
.panel-body .o_noti {
	/* override default margin */
	margin: 0;
}
.o_notifications_subs_table {
	display: flex;
	flex-direction: column;
	gap: $o-widgets-gap;
}

/* Portrait image */
.o_portrait {
	display: inline-block;
	img {
		border-radius: $o-portrait-radius;
		border: $o-portrait-border;
		background-color: $gray-lighter;
		background-position: 50% 50%; 
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.o_portrait_name { 
	margin-top: $padding-base-vertical;
}
.o_block_inline, .o_block_inline_right, .o_block_inline_left, .o_block_inline_both {
	.o_portait, .o_portrait_name, .o_portrait_image {
		display: inline-block;
	}
}

/* Dummy user portrait (avatar) display - portrait sizes must match with DisplayPortraitManager.WIDTH_PORTRAIT_SMALLDisplayPortraitManager.WIDTH_PORTRAIT_BIG

Dummy is used for registered users which have no personal avatar image. 
- dummy is used if gender is not known
- dummy_female is used for femal users
- dummy_male is used for male users

Anonymous is used for guest users and in anonymous chat / forum postings

The "important!" avoids hiding the image by bootstrap.
*/
.o_portrait_avatar,
.o_portrait_dummy,
.o_portrait_dummy_female_big,
.o_portrait_dummy_male_big,
.o_portrait_anonymous 			{width: $o-portrait-size; height: $o-portrait-size;}
.o_portrait_dummy				{background-image: url('#{$o-images-path}portrait/dummy.png') !important;}
.o_portrait_dummy_female_big	{background-image: url('#{$o-images-path}portrait/dummy_female_big.png') !important;}
.o_portrait_dummy_male_big		{background-image: url('#{$o-images-path}portrait/dummy_male_big.png') !important;}
.o_portrait_anonymous 			{background-image: url('#{$o-images-path}portrait/anonymous.png') !important; }

.o_portrait_avatar_small,
.o_portrait_dummy_small,
.o_portrait_dummy_female_small,
.o_portrait_dummy_male_small,
.o_portrait_anonymous_small 	{width: $o-portrait-small-size; height: $o-portrait-small-size;}
.o_portrait_dummy_small			{background-image: url('#{$o-images-path}portrait/dummy_small.png') !important;}
.o_portrait_dummy_female_small	{background-image: url('#{$o-images-path}portrait/dummy_female_small.png') !important;}
.o_portrait_dummy_male_small	{background-image: url('#{$o-images-path}portrait/dummy_male_small.png') !important;}
.o_portrait_anonymous_small 	{background-image: url('#{$o-images-path}portrait/anonymous_small.png') !important; }
.o_portrait_openolat_small 	{background-image: url('#{$o-images-path}portrait/anonymous_small.png') !important; }


/* User portrait component */
@mixin o-users_portrait_offset($size){
	.o_portrait_user {
		&:not(:first-child) {
			margin-left: -$o-users-portrait-overlap * $size;
		}
	}
}
@mixin o-users_portrait_size($size){
	.o_portrait_user {
		.o_portrait {
			img {
				width: $size;
				height: $size;
			}
		}
	}
}

.o_users_portraits {
	.o_portrait_user {
		.o_portrait {
			flex-shrink: 0;
			img {
				border: $o-users-portrait-img-border;
				box-shadow: $o-users-portrait-img-box-shadow;
			}
		}
	}
	&.o_users_portraits_xsmall {
		@include o-users_portrait_size(math.div($o-portrait-small-size, 2));
	}
	&.o_users_portraits_small {
		@include o-users_portrait_size($o-portrait-small-size);
	}
	&.o_users_portraits_medium {
		@include o-users_portrait_size(math.div($o-portrait-size, 2));
	}
	&.o_users_portraits_large {
		@include o-users_portrait_size($o-portrait-size);
	}
	.o_portrait_user_not_visible {
		margin-left: 5px;
	}
	&.o_users_portraits_overlapping_portraits {
		display: flex;
		align-items: center;
		ul {
			margin-bottom: 0;
			display: flex;
			.o_portrait_user {
				&:not(:first-child) {
					margin-left: -60px;
				}
			}
		}
		&.o_users_portraits_xsmall {
			@include o-users_portrait_offset(math.div($o-portrait-small-size, 2));
		}
		&.o_users_portraits_small {
			@include o-users_portrait_offset($o-portrait-small-size);
		}
		&.o_users_portraits_medium {
			@include o-users_portrait_offset(math.div($o-portrait-size, 2));
		}
		&.o_users_portraits_large {
			@include o-users_portrait_offset($o-portrait-size);
		}
	}
	&.o_users_portraits_vertical_displayname {
		ul {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
		.o_portrait_user {
			display: flex;
			align-items: center;
			gap: 5px;
		}
	}
}

/* Date component, used in info course element, blog etc */
.o_datecomp {
	position: relative; 
	width: $line-height-computed * 2; 
	min-width: $line-height-computed * 2; 
	max-width: $line-height-computed * 2; 
	height: $line-height-computed + floor($line-height-computed * 1.5) + 2px; 
	border: 1px solid $o-datecomp-border; 
	margin-right: $padding-base-horizontal; 
	text-align: center; 
	vertical-align: middle; 
	
	div.o_year {
		position: absolute; 
		left: 0;
		width: 100%;
		top: -$line-height-computed; 
		height: $line-height-computed; 
		line-height: $line-height-computed; 
		font-size: ceil($font-size-base * 0.7);
	}
	div.o_month {
		height: $line-height-computed; 
		line-height: $line-height-computed; 
		font-size: $font-size-small; 
		background-color: $o-datecomp-month-bg;
		color: $o-datecomp-month-color;
	}
	div.o_day {
		height: floor($line-height-computed * 1.5);
		line-height: floor($line-height-computed * 1.5);
		font-size: $font-size-large;
		border-top: 1px solid $o-datecomp-border;
		background-color: $o-datecomp-day-bg;
		color: $o-datecomp-day-color;
	}
}
.o_block_with_datecomp {
	@extend %o_block_large; /* large to have space for year */
	.o_head {
		position: relative;
		padding-left: $line-height-computed * 2 + $padding-base-horizontal;
	}
	.o_info_msg_head {
		height: 50px;
	}
	.o_datecomp {
		position: absolute;
		top: 0.2em;
		left: 0;		
	}
	.o_title {
		margin-top: 0;
	}
	.o_meta {
		color: $text-muted;
		@extend %o_small;
	}
	.o_content {
		@extend %o_block;
		border-left: 5px solid $blockquote-border-color;
		padding: 0 $line-height-computed;
	}
	.o_block_footer {
		padding-left: $line-height-computed + 5px;
	}
}

/* Efficiency statement and certificates */
ul.o_certificates li {
	padding: 5px 0;
	
	a.o_sel_certificate_delete {
		padding-left: 2em;
	}
}


.o_achievements_details  {
	.o_header_with_buttons h3, .o_header_with_buttons h3 + .o_button_group {
		margin-top: 5px;
	}
	
	.o_button_group_right .input-group>.input-group-addon {
		width: 37px;
	}
	
	fieldset {
		margin-top: 30px;
	}
	
	.o_certificate_multi legend, .o_badge_multi legend {
		margin-bottom: 10px;
	}
	
	.o_table_wrapper.o_table_flexi .o_table_body {
		margin-top: 0;
	}
	
	.o_certificate_multi .o_table_toolbar, .o_badge_multi .o_table_toolbar  {
		display: none;
	}
	
	.o_details table th {
		width: 30%;
	}
}

@media (min-width: $screen-md-min) { 
	.o_certificate_multi {
		.o_table_body:before, .o_table_body:after {
			display: none;
		}
		.o_table_body {
			display: grid;
			column-gap: 50px;
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.o_badge_multi {
		.o_table_body:before, .o_table_body:after {
			display: none;
		}
		.o_table_body {
			display: grid;
			column-gap: 50px;
			grid-template-columns: 1fr 1fr;
		}
	}
}
	
@media (min-width: $screen-md-min) {
	.o_badge_multi {
		.o_table_body:before, .o_table_body:after {
			display: none;
		}
		.o_table_body {
			display: grid;
			column-gap: 50px;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

.o_achievement_card  {
	display: grid;
	align-items: end;
	column-gap: 10px;
	row-gap: 10px;
	grid-template-columns: 50px auto 60px;
	padding: 0 $o-export-area-rowelem-space-md $o-export-area-rowelem-space-md $o-export-area-rowelem-space-md;
	border-bottom: 1px solid $legend-border-color;
	
	.o_achievement_type {
		display: grid;
		grid-template-columns: 50px;
		align-items: center;
	
		font-size: 53px;
		line-height: 70px;
		text-align: center;
		min-height: 70px;
		box-sizing: content-box;
	}

	.o_achievement_download, .o_issuer {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.o_certificate_expiration {
		margin: 0 0 3px 0;
	}
	
	.o_achievement_meta > span {
		font-size: 90%;
		color: $o-export-area-meta-color;
	}
	
	.o_achievement_meta > span.o_issuer {
		font-size: 100%;
		color: black;
	}
	
	.o_achievement_actions {
		justify-self: end;
		
		>a:first-child {
			margin-right: 1em;
		}
	}
	
	.o_certificate_expiration.o_labeled {
		border-color: $alert-warning-text;
		color: $alert-warning-text;
		background-color: $alert-warning-bg;
		text-transform: none;
		font-weight: bold;
		display: inline-block;
	}
	
	.o_certificate_download_expired {
		text-decoration: line-through;
	}
}

.o_badge_multi {
	.o_achievement_card  {
		grid-template-columns: 80px auto 20px;
	}
	
	.o_achievement_actions>a:first-child {
		margin-right: 0;
	}
}

@media (max-width: $screen-xs-max) {
	.o_achievement_card {
		grid-template-columns: 50px auto;
		padding: 10px 0 30px 0;
		position: relative;
		
		.o_achievement_type {
			font-size: 35px;
			line-height: 25px;
			min-height: 25px;
		}
		
		.o_achievement_meta {
			overflow: hidden;
			padding-right: 15px;
		}
		
		.o_achievement_actions {
			position: absolute;
			bottom: 6px;
			right: 0;
		}
	}
}


/* Calendar */
.o_cal_toptoolbar {
	margin-bottom: $padding-base-vertical;
	.o_cal_toptoolbar_help {
		float: left;
		margin-right: $padding-base-horizontal;
	}
	.o_noti {
		margin-top:0;
	}
}
.o_cal {
	.fc-header-title h2 {
		@extend h4;
	}
}

/* Feed (Blog/Podcast) */
.o_feed {
	.o_media {
		@extend .img-thumbnail;
	}
	.o_date, .o_author {
		color: $text-muted;
	}
	.o_subscription {
		a {	
			margin-right: 1.5em;
		}
		.form-group {
			margin-bottom: $padding-small-vertical;
		}
		.form-control {
			border: 0;
			background: none;
			padding: 0;
			height: auto;
			@include box-shadow(none);
		}
	}
	.o_content {
		@include clearfix();
	}
	.o_enclosure {
		clear: both;
	}
}

/* Glossary */
.o_glossary {
	.o_register {
		text-align: center;
	}
	.o_meta {
		font-size: 90%;
		color: $text-muted;
		font-style: italic;
	}
	dl {
		dt {
			&:first-letter { 
				font-size: ceil(($font-size-base * 1.5));
			}
			small {
				color: $text-muted;
			}
		}
	}
}

.o_tm_glossary { border-bottom: 1px dotted #666699 !important; }
.o_tm_yellow { background-color: #FFFF66; }
.o_tm_blue { background-color: #33FFFF; }
.o_tm_red { background-color: #FF3333; }
.o_tm_green { background-color: #99FF00; }

/* Assessment */
div.o_assessment_user_type_filter {
	padding: 0.5em;
	border: 1px solid $gray-lighter;
	border-radius: $panel-border-radius;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	button {
		margin: 0 8px 0 4px;
	}
}

div.panel.o_assessment_modes {
	.o_table_body {
		margin-top: 0;
	}
	
	.o_table_wrapper {
		margin-bottom: 5px;
	}
}

div.o_assessment_mode_row {
	padding: 0 15px;
	
	&.o_assessment_today {
		padding: 0 20px 0 12px;
		border-left: 3px solid $o-assessment-mode-today-border-color;
		background-color: $o-assessment-mode-today-bg;
	}
	
	&.o_assessment_end_soon.o_assessment_today {
		padding: 0 20px 0 12px;
		border-left: 3px solid $o-assessment-mode-end-soon-border-color;
		background-color: $o-assessment-mode-end-soon-bg;
	}
}

div.o_assessment_inspection_with_code {
	display: grid;
	grid-template-columns: 50% 49%;

	>.o_assessment_inspection_code {
		border-left: $o-assessment-inspection-border-color;
		padding: 20px 0 0 20px;
	}
}

div.o_assessment_inspection_status_list {
	margin-top: 20px;
	
	>h5 {
		margin-left: 10px;
	}
	.o_table_toolbar {
		display: none;
	}
	.o_table_wrapper.o_table_flexi .table {
		margin-top: 0;
	}
}

.o_labeled_light.o_assessment_inspection_scheduled { 
	color: $o-assessment-inspection-scheduled-color;
}
.o_labeled_light.o_assessment_inspection_active { 
	color: $o-assessment-inspection-active-color;
}
.o_labeled_light.o_assessment_inspection_inprogress {
	color: $o-assessment-inspection-inprogress-color;
}
.o_labeled_light.o_assessment_inspection_carriedout {
	color: $o-assessment-inspection-carriedout-color;
}
.o_labeled_light.o_assessment_inspection_noshow {
	@extend %o_labeled_light_yellow;
}
.o_labeled_light.o_assessment_inspection_cancelled {
	color: $o-assessment-inspection-cancelled-color;
}
.o_labeled_light.o_assessment_inspection_withdrawn {
	color: $o-assessment-inspection-withdrawn-color;
}

div.panel.o_assessment_mini_overview {
	display: grid;
	align-items: center;
	grid-template-columns: fit-content(200px) auto auto;
	padding-left: 10px;
	
	.o_button_group {
		justify-self: end;
		margin-right: 1em;
	}
	
	.o_assessment_mini_status {
		font-size: 125%;
		margin: 0 10px 0 0;
	}
	
	
}

div.panel.o_assessment_mini_overview.o_assessment_mini_overview_completion {
	display: grid;
	align-items: center;
	grid-template-columns: 80px fit-content(200px) auto auto;
	padding-left: 0;
}

@media (max-width: $screen-xs-max) { 
	div.panel.o_assessment_mini_overview.o_assessment_mini_overview_completion {
		grid-template-columns: 80px fit-content(200px) auto;
	}
	
	div.o_assessment_mini_overview .o_assessment_mini_message {
		grid-column: 1 / 3;
		margin-left: 10px;
	}
	
	div.panel.o_assessment_mini_overview .o_button_group {
		grid-column: 1 / 3;
		margin-left: 10px;
		text-align: left;
		justify-self: start;
	}
}

div.o_assessment_mini_conditional_overview {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding: 0 10px;
	
	.o_scores {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 20px;
		margin: 1em;
	}
	
	.o_button_group {
		justify-self: start;
	}
}

.o_statement_infos {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0 10px;

	.o_assessment {
		margin: 1em 1em 1em 0.5em;
		white-space: nowrap;
		.o_passed, .o_failed, .o_score, .o_grade {
			font-size: 20px;
			font-weight: bold;
		}
		
		.o_score, .o_grade_wrapper {
			padding-left: 1em;
		}
	}

	.o_buttons {
		padding: 0.9em 1em 0.5em 1em;
		margin: 0.5em 1em 0.5em 0;
		border-left: 1px solid $panel-default-border;
	}
}


/* BigBlueButton */
.o_bbb_deleted td {
	text-decoration: line-through;
}

.o_bbb_guest_join_box {
	max-width: 500px;
	margin: 25px auto;
}

/* vitero */
.vitero_iframe {
	width: 100%;
	height: 100%;
	border: none;
	min-height: 60em;
}

/* Reminders rules */
.o_reminder_rule {
	padding: 5px 0;
	.o_rule_passed {
		& > div {
			display: inline-block;
		}
	}
}
.o_reminder_rules_view {
	td {
		padding: $o-reminder-cell-padding;
		div {
			padding: $o-reminder-div-padding;
		}
	}
	.o_additional {
		width: 19px;
	}
	.o_marker {
		color: $o-reminder-marker-color;
		background-color: $o-reminder-marker-bg-color;
		padding: $o-reminder-marker-padding;
	}
}
div.o_reminder_recipients {
	margin-bottom: 0px;
}
div.o_reminder_custom_email {
	margin-top: -35px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	.form-control-feedback {
		top: 30px;
	}
}

/* Segmented view wrapper */
.o_segments.btn-group a span {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}
.o_segments_content {
	margin-top: $line-height-computed;
}

.o_segments.o_segments_linked {
	.btn, .btn:hover, .btn:active, .btn:focus {
		border: none;
		border-radius: 0;
		box-shadow: none;
		background: none;
	}
	.btn-primary {
		color: #000;
		font-size: ceil(($font-size-base * 1.7));
		background: none;
	}
	.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
		color: $o-content-link-color;
		background: none;
	}
	.o_segment_separator {
		color: #000;
	}
}

.o_segments.o_segments_tab {
	border-bottom: 1px solid $o-content-link-color;
	width: 100%;

	.btn, .btn:hover, .btn:active, .btn:focus {
		border: none;
		border-radius: 0;
		border-color: white;
		border-bottom: 4px solid white;
		box-shadow: none;
		background: none;
		padding-right: 0;
		padding-left: 0;
		margin-right: 1.5em;
	}
	.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
		background: none;
		border-color: $o-content-link-color;
	}
	.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
		color: $o-content-link-color;
		background: none;
	}
	.o_segment_separator {
		color: #000;
	}

}

/* Tabbed pane component */
.o_tabbed_pane { 
	.o_tabbed_pane_content {
		padding: $o-tabbed-pane-padding;
	}
}


/* Icon panel component */
.o_icon_panel {
	border: $o-icon-panel-border;
	border-radius: $o-icon-panel-border-radius;
	h3, h4 {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.o_icon_panel_header {
		margin-bottom: 15px;
		h3, h4 {
			display: inline;
			margin-right: 5px;
		}
	}
	
	display: flex;
	>.o_icon_panel_icon_col {
		padding: 15px 10px;
		border-right: $o-icon-panel-border;
		background-color: $o-icon-panel-icon-bg-color;
	}
	>.o_icon_panel_content_col {
		width: 100%;
		overflow: hidden;
		padding: 15px;
		background-color: $o-icon-panel-content-bg-color;
		
		display: grid;
		grid-template-columns: 1fr;
		
		.o_ac_active_wrapper {
			display: flex;
			.o_ac_active_icon {
				padding-right: 3px;
			}
			.o_ac_active_text {
				display: flex;
				a {
					margin-left: 10px;
					flex-shrink: 0;
				}
			}
		}
		>.o_cmds {
			padding-right: 15px;
		}
		
		.o_icon_panel_links {
			text-align: right;
		}

		.o_icon_panel_message.o_warning_with_icon,
		.o_icon_panel_content .o_warning {
			margin: 0 0 10px 0;
		}
		
		.o_icon_panel_content ~ .o_icon_panel_content {
			border-left: $o-icon-panel-border;
		}
	}
	
	.o_with_additional_content {
		grid-template-columns: 1fr 1fr;
		
		.o_icon_panel_header, .o_icon_panel_message {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}

@media (max-width: $screen-sm-min) {
	.o_icon_panel .o_icon_panel_content_col.o_with_additional_content {
		grid-template-columns: 1fr;
		
		.o_icon_panel_header, .o_icon_panel_message {
			grid-column-start: 1;
			grid-column-end: 1;
		}
		
		.o_icon_panel_content ~ .o_icon_panel_content {
			border-left: none;
			border-top: $o-icon-panel-border;
			padding-top: 12px;
			order: 5;
		}
		
		.o_icon_panel_links {
			order: 4;
			padding-bottom: 5px;
		}
		
		.o_icon_panel_links ~ .o_icon_panel_links {
			order: 6;
			padding-bottom: 0;
		}
	}
}


/* toogle box, based on bootstrap collapse plugin */
.o_togglebox_wrapper {
	.o_opener {
		position: relative;
		left: -0.5em;
		i {
			@extend .o_icon_open_togglebox;
		}
		&.o_in i {
			@extend .o_icon_close_togglebox;
		}
	}
	div.o_togglebox_content {
		position: relative;
		@extend %o_info;
		margin: 0;
		.o_hide {
			position: absolute;
			bottom: 0.5em;
			right: 1em;		
			@extend %o_small;
		}
	}	
}

/* Expand controller */
.o_expand_ctrl {
	.o_button_group {
		margin-top: -1px;
		.o_button_details {
			height: 20px;
			width: 32px;
			padding: 0px 8px;
			border: $o-cn-style-border;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
	}
	&.o_unexpandable {
		margin-bottom: 0.5em;
	}
	.o_expandable_panel {
		margin-bottom: 0;
	}
}

.o_expand.o_button_group {
	margin: 10px 0 0 0;
	border-top: 1px solid $o-table-filter-collapse-color;
	
	.o_button_details {
		margin: -2px auto 0 auto;
		position: relative;
		top: -10px;
		
		padding: 0px 8px;
		border: $o-cn-style-border;
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
	
		>span {
			display: none;
		}
	}
}

/* the old toolbox */
.o_toolboxes {
	ul {
		margin: 0 0 1.5em 0;
		padding: 0 0 0 1.5em;
	}
}

/* QR-Code container */ 
.o_qrcode {
	width: 256px; 
	height: 256px;
}

/* QR-Code scanner */
.o_qr_scanner_wrapper {
	position: relative;
	
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-image: url('#{$o-images-path}qr-scanner.png');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.o_qr_scanner {
		border-radius: $border-radius-base;
	}
}

/* busy screen */
#o_ajax_busy { 
	height: 11em; 
	width: 240px;
	text-align: center;
	color: #fff; 
	z-index: 70042; /* modal backdrop set to 70041 in functions.js */
	border: none;
	padding: 0;
	display: none;
}
#o_ajax_busy[open] { 
	display: inherit;
	background: transparent;
}
dialog#o_ajax_busy {
	outline: none;
	box-shadow: none;
}

#o_ajax_progress {
	display: none;
	border: 1px solid #888;
	border-radius: 4px;
	background: rgba(255,255,255,0.85);
	padding: 20px 15px;
	color:#222;
	text-align: left;
		
	.progress {
		margin-top: 0.5em;
		height: 10px;	
	}
}	
#o_body.o_ajax_busy {
	cursor: busy;
}

/* error screen */
.o_exception {
	.o_visual {
		position: relative;
		/* image CC by Nomadic Lass https://www.flickr.com/photos/nomadic_lass/5329061838/ */
		background-image: url('#{$o-images-path}lion-500x333.jpg');
		filter: grayscale(50%);
		-webkit-filter: grayscale(50%);
		-moz-filter: grayscale(50%);
		-ms-filter: grayscale(50%); 
		-o-filter: grayscale(50%);
		width: 500px;
		height: 333px;
		background-repeat:no-repeat;
		background-position:50% 50%;		
		background-size: contain;	
		margin: 0 0 $padding-large-vertical $padding-large-horizontal;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
			width: floor(500px *0.75);
			height: floor(333px *0.75);		
		}
		@media (min-width: 500px) and (max-width: $screen-xs-max) { 
			width: floor(500px *0.5);
			height: floor(333px *0.5);		
		}	
		@media (max-width: 500px){ 
			background-size: cover;	
		}	
	}
	.jumbotron h1 { 
		color: $brand-danger;
	}
}

/* list */
ul.o_assessment_docs {
	margin-bottom: 0;
}
ul.o_assessment_docs>li {
	margin-bottom: 0.33em;
}
ul.o_assessment_docs>li:last-child {
	margin-bottom: 0em;
}

/* personal mail box tool */
.o_mail_message {
	.o_mail_meta {
		background: #fafafa;
		border: 1px solid #eee;
		padding: 5px 10px;
		h3 {
			margin-top: 0;
		}
	}
	
	.o_mail_date,
	.o_mail_from,
	.o_mail_recipients {
		color: $text-muted;
		font-size: 90%;
		
		.o_label {
			font-weight: bold;
			margin-right: 1em;
		}
		.o_group span {
			font-weight: bold;
			&:after {
				content: ':';
				margin-right: 0.5em;
			}
		}
		i {
			margin-left: 1em;
		}

		ul.list-inline {
			display: inline;
			li {
				padding-right: 0;
				padding-left: 0;
			}
		}	
	}
	.o_more {
		margin-left: 1em;
	}
	.o_showAllLink {
		float: right;
		font-size: 80%;
	}
}	

/* indicator on progress bar */
// FIXME FG: check if still used? no references found to o_progress_marker
.progress .o_progress_marker {
	position: absolute; 
	height: 100%;
	top: 0;
	width: 3px; 	
	background: $o-progress-marker-color;
}

.o_progress_buttons {
	text-align: center;
	margin: 10px 0 0 0;
}

.o_progress {
	&.o_progress_inline {
		display: inline-block;
		white-space: nowrap;
		.progress {
			vertical-align: bottom;		
		}
	}
	.o_progress_label, 
	.o_progress_info {
		display: inline-block;
		vertical-align: top;
	}
	.o_progress_info {
		margin-left: 0.5em;
	}
	.progress {
		position: relative;
		display: inline-block;
		text-shadow: 1px 1px 2px #000000;
		font-size: $font-size-small;
		line-height: $line-height-computed;
		color: $progress-bar-color;
		
		.o_progress_label_wrapper {
			position: absolute;
			top: 0;
			left: 0;
			padding-left: 0.4em;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap; 
		}				
		
		&:not(.o_progress-sm)+.o_progress_label_wrapper { /* when renderend outside of progressbar */
			margin-left: 0.5em;
		}		
	}

	.o_progress-lg {
		height: 40px;
		.o_progress_label_wrapper {
			padding-left: 1em;
			line-height: 40px;
		}
	}
	.o_progress-sm {
		vertical-align: bottom;
		height: 5px;
		&+span {
			position: absolute;
			top: 0;
			left: 15px;
			font-size: 80%;
		}
	}
	.o_progress-bar-passed {
		&.progress-bar {
			background-color: $o-course-state-passed-color;
		}
	}
	.o_progress-bar-failed {
		&.progress-bar {
			background-color: $o-course-state-failed-color;
		}
	}
}


/* web documents */
.o_web_content {
	padding-bottom: floor($grid-gutter-width * 0.5);
}

/* label */
%o_labeled,
.o_labeled,
a.o_labeled {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1;
	white-space: nowrap;
	border: 1px solid;
	border-radius: $border-radius-small;
	padding: 3px 5px;
	background-color: $o-labeled_bg-color;
	color: $o-labeled_color;
	position: relative;
}
%o_labeled_light,
.o_labeled_light,
a.o_labeled_light {
	@extend %o_labeled;
	padding: 2px 5px;
	font-size: 85%;
	background-color: 	$o-labeled-light-bg-color;
 }
 .o_table_flexi {
 	.o_labeled_light {
 		margin-top: -2px;
 	}
 }
%o_labeled_yellow {
	color: $o-labeled-yellow-color;
	background-color: $o-labeled-yellow-bg-color;
	border-color: $o-labeled-yellow-border-color;
}
%o_labeled_light_yellow {
	color: $o-labeled-yellow-color;
	background-color: $o-labeled-yellow-light-bg-color;
	border-color: $o-labeled-yellow-border-color;
}
 
 /* Multiselect dropdown element */
 .o_ms_button {
 	max-width: 100%;
 	width: 100%;
 	display: flex;
	span:not(.o_ms_carret) {
 		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap; 
	}
	.o_ms_carret {
		margin: auto 0 auto auto;
	}
}
.o_ms_list {
	width: 100%;
	height: auto;
	max-height: 300px;
	overflow-x: hidden;
	top: unset;
}

 /* Multiselect autocompletion element */
 .o_acms_button {
 	max-width: 100%;
 	width: 100%;
 	min-height: 34px;
 	display: flex;
	span:not(i.o_icon) {
 		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	i.o_icon {
		margin: auto 0 auto auto;
	}
}

/* disclaimer formatting */
.o_disclaimer .o_disclaimer_content {
	max-height: 50vh;
	overflow: auto;
	font-family: $font-family-monospace;
	background: #fbfbfb;
	padding: 10px;
	border: 1px solid #c2c2c2;
}

/* files and folders */
.o_files_size_okay {
	color: $o-files-size-okay;
}
.o_files_size_warning {
	color: $o-files-size-warning;
}
.o_files_size_large {
	color: $o-files-size-large;
}

/* Tagify */
.o_tag_admin {
	background: repeating-linear-gradient(135deg, transparent, transparent 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 6px);
}

.o_tag_admin {
	@include o-add-icon('eye-slash');
	@include o-add-icon-font();
	&:before {
		padding-right: 0.5em;
	}
}

body {
	.tagify {
		width: 100%;
		
		.tagify__tag-text {
			font-weight: bold;
		}
		
		&.o_textbox {
			border: 1px solid $input-border;
			border-radius: $input-border-radius;
			background-color: white;
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
			@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
		}
		
		
		
		.tagify__tag.o_tag_admin>div::before {
			box-shadow: none;
			background: var(--tag-bg) repeating-linear-gradient(135deg, var(--tag-bg), var(--tag-bg) 3px, rgba(0, 0, 0, 0.2) 3px, rgba(0, 0, 0, 0.2) 6px);
		}
		
		.tagify__tag.o_tag_admin:before {
			padding-right: 0em;
			padding-left: 0.5em;
		}
	}
	
	div.tagify__dropdown__item {
		text-align: left;
	}
}

.o_textbox_dropdown_info {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.o_textbox_dropdown {
	overflow-y: scroll;
}


/* Grade */
.o_gr_breakpoint_edit {
	div {
		display: inline-block;
	}
}
.o_gr_scale_num,
.o_gr_scale_text {
	display: flex;
	align-items: flex-start;
	flex-flow: wrap;
}
.o_gr_scale_text {
	.o_gr_table {
		.table {
			width: unset;
			margin-top: 0px;
			margin-right: 1em;
			.form-control {
				width: unset;
			}
			tr.o_gr_passed_row {
				div.o_gr_passed_cell {
					color: $o-course-state-passed-color;
				}
			}
			tr.o_gr_failed_row {
				div.o_gr_passed_cell {
					color: $o-course-state-failed-color;
				}
			}
		}
	}
}
.o_gr_grade_scores {
	display: flex;
	align-items: flex-start;
	.o_gr_grade_score_table {
		&.table {
			width: unset;
			margin-right: 1em;
		}
		.o_gr_passed {
			background-color: rgba($o-course-state-passed-color, 0.5);
		}
	}
}
.o_gr_scale_chart_line {
	stroke-width: 2;
	stroke: $o-d3chart-default;
	fill: none;
	&.o_gr_passed {
		stroke: $o-course-state-passed-color;
	}
	&.o_gr_failed {
		stroke: $o-course-state-failed-color;
	}
	&.o_gr_cut_value {
		stroke: $o-course-state-passed-color;
		stroke-width: 1;
	}
	&.o_gr_help_line {
		stroke: $gray-light;
		stroke-width: 1;
		opacity: 0.5;
		&.o_gr_dash {
			stroke-dasharray: 3,3;
		}
	}
}
.o_gr_percent:after {
	content: "%";
}

/* Pie chart */
.o_pie_chart {
	.o_piechart_title {
		font-size: 36px;
	}
	
	.o_piechart_subtitle {
		font-size: 18px;
	}
}


/* MathLive */
.o_mathlive_editor {
	min-height: 3em;
}

/* List */
ul.o_list_narrow {
	padding-left: 1.4em;
}

/* Jupyter */
.o_jupyter_info_text {
	padding-top: 0;
	min-height: 0;
}
