/*
 * =================================================
 *   
 * OpenOLAT theme configuration file
 *
 * @author gnaegi,  www.frentix.com
 * @date April 2014
 *
 * To create your own theme, please read themes.README!
 * =================================================
 * 
 * Configure OpenOLAT and boostrap variables in this file. 
 * All variables with the o- prefix are OpenOLAT specific variables, 
 * the other variabels are from bootstrap. 
 * 
 * When you modify any variable here, make sure you run 
 * the scrip src/main/webapp/static/themes/compiletheme.sh
 * 
 * See src/main/webapp/static/bootstrap/3.1.1/stylesheets/bootstrap/_variables.scss
 * or http://getbootstrap.com/customize/#less-variables
 * or http://getbootstrap.com/css/#less-variables
 */
 
/* ---- Bootstrap specific configurations ----
	Add your custom font sizes and other bootstrap overrides here. 
	Full spec here: http://getbootstrap.com/customize/
*/
@use "sass:math";
@use "sass:color";

@import "functions";

/* To add place for the scroll bar */
$modal-lg						: 920px !default;
$modal-md                    	: auto !default;


/* bootstrap default is very white, use just a little bit more than just white */
$btn-default-color				: #333 !default;
$btn-default-bg					: #f8f8f8 !default;
$btn-default-border				: #d4d4d4 !default;
$dropdown-bg					: #fcfcfc !default; 
$panel-bg						: #fcfcfc !default;
$pagination-bg					: #fcfcfc !default;
$pagination-active-color 		: #fff !default;
$list-group-bg					: #fcfcfc !default;

$input-bg						: #fff !default; 
$input-border					: $btn-default-border !default;
$input-bg-disabled				: #fafafa !default;
$input-group-addon-bg			: $btn-default-bg !default;
$input-group-addon-border-color	: $btn-default-border !default;

/* pagination is must a special button, same style */
$pagination-color				: $btn-default-color !default;
$pagination-bg					: $btn-default-bg !default;
$pagination-border				: $btn-default-border !default;
$pagination-disabled-border		: $btn-default-border !default;

/* a11y optimizations */
$text-color						: #333 !default;
$navbar-default-link-color		: #666 !default;
$badge-bg						: #666 !default;
$text-muted						: #595959 !default;

/* other general colors, override bootstrap counterparts */
$brand-info						: #2B78E4 !default;
$brand-warning					: #F2AF40 !default; //#B89230 !default;
$brand-danger					: #D6001C !default; //#8C1A11 !default;
$brand-success					: #5cb85c !default; //#469C30 !default;

$o-color-info					: $brand-info !default;
$o-color-info-text-bg			: #FCFCFC !default;
$o-color-note					: #666666 !default;
$o-color-note-text-bg			: #FAFAFB !default;
$o-color-tip					: #345566 !default;
$o-color-tip-text-bg			: #F2F5F4 !default;
$o-color-important				: #41BBDB !default;
$o-color-important-text-bg		: #F4FAFA !default;
$o-color-success				: $brand-success !default;
$o-color-success-text-bg		: #F3F9F5 !default;
$o-color-warning				: $brand-warning !default;
$o-color-warning-text-bg		: #FEFDF8 !default;
$o-color-error					: $brand-danger !default;
$o-color-error-text-bg			: #FFF8F6 !default;


/* 	Add standard bootstrap variables to the mix */
@import "../../bootstrap/stylesheets/bootstrap/variables";

/* General purpose brand based style */
$o-brand-box-border				: darken($brand-primary, 5%) !default;
$o-brand-box-bg 				: rgba($brand-primary,0.1) !default;
$o-brand-text-on-bg 			: $text-color !default;
$o-brand-text					: $brand-primary !default;
/* Override if color contrast not high enough */
@if contrast($brand-primary, #FFF) < 4.5 {
	$o-brand-box-border				: darken($brand-primary, 20%) !default;
	$o-brand-box-bg 				: rgba($brand-primary, 0.2) !default;
	$o-brand-text					: darken($brand-primary, 15%) !default;
}
/* override primary button to match a11y standards */
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-color:              o-a11y-color(#fff, $btn-primary-bg) !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

/* ---- OpenOLAT specific configurations ---- */
$o-images-path : "../light/images/" !default; 

/* Content styles used in iFrame e-learning content and in HTML editor */
$o-content-font-family-base		: $font-family-base !default;
$o-content-font-size-base		: $font-size-base !default;
$o-content-line-height-base		: $line-height-base !default;
$o-content-line-height-computed	: floor(($o-content-font-size-base * $o-content-line-height-base)) !default;
$o-content-text-color			: $text-color !default;
$o-content-body-bg				: $body-bg !default;
$o-content-link-color			: $link-color !default;
$o-content-link-hover-color		: $link-hover-color !default;
$o-content-link-decoration		: underline !default;
$o-content-header-base-color	: $text-color !default;
$o-content-h1-color				: $o-content-header-base-color !default;
$o-content-h2-color				: $o-content-header-base-color !default;
$o-content-h3-color				: $o-content-header-base-color !default;
$o-content-h4-color				: $o-content-header-base-color !default;
$o-content-h5-color				: $o-content-header-base-color !default;
$o-content-fieldset-legend-color: $text-color !default;
$o-content-hr-color				: $hr-border !default;
$o-content-hr-size				: 1px !default;
$o-content-table-border			: $gray-light !default;
$o-content-table-header			: $gray-light !default;
$o-content-dimmed-color			: $text-muted !default;
$o-content-disabled-color		: $text-muted !default;
$o-content-border-box-border	: $gray-light !default;
$o-content-border-box-radius	: $border-radius-small !default;
$o-content-border-box-padding	: 1em !default;
$o-content-border-img-border	: $thumbnail-border !default;
$o-content-border-img-radius	: $thumbnail-border-radius !default;
$o-content-border-img-padding	: 3px !default;

$o-font-size-xlarge				: ceil(($font-size-base * 1.7)) !default;  // ~24px
$o-font-size-xsmall				: ceil(($font-size-base * 0.71)) !default; // ~10px
$o-table-row-selected-color     : lighten($state-info-bg,5%) !default;

$o-table-header-color			: $text-color !default;
$o-table-edit-border			: #f90;
$o-table-edit-bg				: #fefbf6;

$o-table-details-bg							: #f6fbfd !default;
$o-table-details-padding						: 5px 30px 20px 30px !default;
$o-table-details-container-margin			: 0px !default;
$o-table-details-container-padding			: 10px !default;
$o-table-details-container-border			: 1px solid #e7e7e7 !default;
$o-table-details-container-border-radius	: 5px !default;
$o-table-details-container-bg				: #fff !default;

$o-table-filter-collapse-color	: #e7e7e7;

$o-table-filter-color			: $btn-primary-border !default;
$o-table-filter-border			: $btn-primary-border !default;
$o-table-filter-bg				: #fff !default;
$o-table-filter-active-color	: #fff !default;
$o-table-filter-active-border	: $btn-primary-border !default;
$o-table-filter-active-bg		: $btn-primary-border !default;
/* Override if color contrast not high enough */
@if contrast($btn-primary-border, $o-table-filter-bg) < 4.5 {
	$o-table-filter-color			: $text-color;
	$o-table-filter-active-color	: $text-color;
}

/* Empty state in various modules */
$o-empty-indicator-color		: #495057 !default;
$o-empty-icon-color				: #C6C9CD !default;
$o-empty-border-color			: 1px solid #e7e7e7 !default;
$o-empty-border-radius			: $panel-border-radius !default;
$o-empty-msg-color				: $text-color !default;

/* The max width the header/navbar/main/footer can possibly have. */
$o-page-width-max : 1324px !default;
$o-page-width-toggler-border-color			: #eee !default;
$o-page-width-toggler-border-radius			: 4px !default;
$o-page-width-toggler-background			: #efefef !default;
$o-page-width-toggler-border-hover-color	: #ccc !default;
$o-page-width-toggler-hover-background		: #eee !default;


/* Main content area. The outer area is left and right outside the content area (only visible in large screen).  */
$o-main-outer-bg 	: #fff !default;
$o-main-inner-bg 	: #fff !default;
$o-main-left-bg		: #fff !default;
$o-main-center-bg	: inherit !default;
$o-main-right-bg	: inherit !default;

/* Page main navigation for sites, tabs and tools */
$o-navbar-height					: $navbar-height !default;
$o-navbar-dmz-height				: $navbar-height !default;
$o-navbar-z-index					: 6 !default;
$o-navbar-margin-bottom				: $navbar-margin-bottom !default;
$o-navbar-padding-horizontal		: $navbar-padding-horizontal !default;
$o-navbar-padding-vertical			: $navbar-padding-vertical !default;
$o-navbar-collapse-max-height		: $navbar-collapse-max-height !default;
$o-navbar-border-color				: $navbar-default-border !default;
$o-navbar-bg						: $navbar-default-bg !default;
$o-navbar-color						: $navbar-default-color !default;
$o-navbar-link-color				: #666 !default;
$o-navbar-link-hover-color			: darken($o-navbar-link-color, 10%) !default;
$o-navbar-link-hover-bg 			: $navbar-default-link-hover-bg !default;
$o-navbar-link-active-color 		: $navbar-default-link-active-color !default;
$o-navbar-link-active-bg 			: $navbar-default-link-active-bg !default;
$o-navbar-link-disabled-color 		: $navbar-default-link-disabled-color !default;
$o-navbar-link-disabled-bg 			: $navbar-default-link-disabled-bg !default;
$o-navbar-toggle-border-color		: $navbar-default-toggle-border-color !default;
$o-navbar-toggle-border-radius		: $border-radius-base !default;
$o-navbar-toggle-hover-bg			: $navbar-default-toggle-hover-bg !default;
$o-navbar-toggle-icon-bar-bg		: $navbar-default-toggle-icon-bar-bg !default;
$o-navbar-tab-close-color			: $brand-danger !default;
$o-navbar-tab-close-hover-color		: darken($o-navbar-tab-close-color, 10%)!default;
$o-navbar-tools-permanent-color		: $navbar-default-color !default;
$o-navbar-login-color 				: $brand-warning !default;
$o-navbar-logout-color				: $brand-danger !default;
$o-navbar-brand-font-size			: $font-size-large !default;
$o-navbar-brand-height				: $navbar-height !default;
$o-navbar-brand-color				: $navbar-default-brand-color !default;
$o-navbar-brand-hover-color			: $navbar-default-brand-hover-color !default;
$o-navbar-brand-hover-bg			: $navbar-default-brand-hover-bg !default;

/* inverse style
$o-navbar-border-color				: $navbar-inverse-border ;
$o-navbar-bg						: $navbar-inverse-bg ;
$o-navbar-color						: $navbar-inverse-color ;
$o-navbar-link-color				: $navbar-inverse-link-color ;
$o-navbar-link-hover-color			: $navbar-inverse-link-hover-color ;
$o-navbar-link-hover-bg 			: $navbar-inverse-link-hover-bg ;
$o-navbar-link-active-color 		: $navbar-inverse-link-active-color ;
$o-navbar-link-active-bg 			: $navbar-inverse-link-active-bg ;
$o-navbar-link-disabled-color 		: $navbar-inverse-link-disabled-color ;
$o-navbar-link-disabled-bg 			: $navbar-inverse-link-disabled-bg ;
$o-navbar-tools-permanent-color		: $navbar-inverse-link-color;
$o-navbar-toggle-border-color		: $navbar-inverse-toggle-border-color ;
$o-navbar-toggle-hover-bg			: $navbar-inverse-toggle-hover-bg ;
$o-navbar-toggle-icon-bar-bg		: $navbar-inverse-toggle-icon-bar-bg ;
$o-navbar-brand-color				: $navbar-inverse-brand-color ;
$o-navbar-brand-hover-color			: $navbar-inverse-brand-hover-color ;
$o-navbar-brand-hover-bg			: $navbar-inverse-brand-hover-bg ;
*/

$o-navbar-tab-max-width				: 150px !default;
$o-navbar-tab-enable-icons			: false !default;

/* More button and dropdown menu */
$o-navbar-more-dropdown-max-width	: 300px !default;
$o-navbar-more-dropdown-enable-icons: false !default;

/* Right off-canvas menu, part of navbar */
$o-offcanvas-width 					: 250px !default;
$o-offcanvas-padding-horizontal		: $navbar-padding-horizontal !default;
$o-offcanvas-padding-vertical		: $navbar-padding-vertical !default;
$o-offcanvas-border 				: $navbar-inverse-border !default;
$o-offcanvas-bg 					: $navbar-inverse-bg !default;
$o-offcanvas-link-color				: #ACACAC!default;
$o-offcanvas-link-hover-color 		: darken(#ACACAC,10%) !default;
$o-offcanvas-link-hover-bg 			: $navbar-inverse-link-hover-bg!default;
$o-offcanvas-link-active-color		: $navbar-inverse-link-active-color!default;
$o-offcanvas-link-active-bg			: $navbar-inverse-link-active-bg!default;
$o-offcanvas-logout-color			: #FF8B9B !default;
$o-offcanvas-logout-hover-color		: darken($o-offcanvas-logout-color,10%)!default;
$o-offcanvas-dropdown-bg			: $o-offcanvas-bg !default;
$o-offcanvas-dropdown-font-size		: $font-size-base !default;

/* Page footer */
$o-footer-font-size					: $font-size-small !default;
$o-footer-line-height				: 16px !default;
$o-footer-share-font-size			: $font-size-base !default;
$o-footer-padding-top				: 10px !default;
$o-footer-height 					: 70px !default;
$o-footer-dmz-height 				: $o-footer-height !default;
$o-footer-outer-bg 					: #f5f5f5 !default;
$o-footer-inner-bg 					: #f5f5f5 !default;
$o-footer-default-color 			: #666 !default;
$o-footer-default-link-color 		: #666 !default;
$o-footer-default-link-hover-color 	: #000 !default;
$o-footer-position-absolute 		: true !default;
$o-footer-margin-top				: $padding-large-vertical !default;

/* Toolbar in course, editor etc */
$o-toolbar-bg-color				: $navbar-default-bg !default;
$o-toolbar-edit_bg-color		: #fcfcfc !default;
$o-toolbar-edit_stripe-color	: #fff0d9 !default; 
$o-toolbar-border-color			: $navbar-default-border !default;
$o-toolbar-border-radius		: $navbar-border-radius !default;
$o-toolbar-link-color			: $navbar-default-link-color !default;
$o-toolbar-link-hover-color		: $navbar-default-link-hover-color !default;
$o-toolbar-link-disabled-color	: lighten($navbar-default-link-color, 20%) !default;
$o-toolbar-link-active-color	: $link-color !default;
$o-toolbar-link-active-bg		: transparent !default;
$o-toolbar-dropdown-active-color: $link-color !default;
$o-toolbar-dropdown-active-bg	: transparent !default;
$o-toolbar-size-icon-md 		: ceil($font-size-base * 1.25) !default;
$o-toolbar-size-text-md 		: ceil($font-size-base * 0.85) !default;
$o-toolbar-size-caret-md 		: $font-size-base !default;
$o-toolbar-size-icon-sm 		: ceil($font-size-base * 1.1) !default;
$o-toolbar-size-text-sm 		: ceil($font-size-base * 0.75) !default;
$o-toolbar-size-caret-sm 		: ceil($font-size-base * 0.85) !default;
$o-toolbar-size-icon-xs 		: ceil($font-size-base * 1.4) !default;
$o-toolbar-height-md			: 37px !default;
$o-toolbar-height-sm			: 35px !default;
$o-toolbar-height-xs			: 22px !default;
$o-toolbar-margin-top			: -10px !default;
$o-toolbar-margin-bottom		: ($navbar-margin-bottom + 5px) !default; // 5 extra for course pagination
$o-toolbar-tools-margin-top-md		: 8px !default;
$o-toolbar-tools-margin-bottom-md	: 5px !default;
$o-toolbar-tools-margin-top-sm		: 6px !default;
$o-toolbar-tools-margin-bottom-sm	: 4px !default;
$o-toolbar-tools-margin-top-xs		: 6px !default;
$o-toolbar-tools-margin-bottom-xs	: 4px !default;
$o-toolbar-close-color				: $brand-danger !default;
$o-toolbar-breadcrumb-bg-color		: $panel-default-heading-bg !default;
$o-toolbar-breadcrumb-link-color 	: o-a11y-color($link-color, $o-toolbar-breadcrumb-bg-color) !default;
$o-toolbar-breadcrumb-font-size 	: $font-size-base !default;
$o-toolbar-breadcrumb-line-height	: $line-height-base !default;
$o-toolbar-nav-link-color			: $o-toolbar-link-color !default; 
$o-toolbar-nav-link-hover-color		: $o-toolbar-link-hover-color !default; 
$o-toolbar-nav-link-disabled-color	: $o-toolbar-link-disabled-color !default; 
$o-toolbar-nav-bg-color				: $gray-lighter !default;
$o-toolbar-nav-border-color			: $btn-default-border !default; 
$o-toolbar-nav-border-radius		: 4px !default; 
$o-toolbar-nav-size-icon-md 		: ceil($font-size-base * 1.5) !default;
$o-toolbar-nav-size-icon-sm 		: ceil($font-size-base * 1.25) !default;
$o-toolbar-nav-size-icon-xs 		: ceil($font-size-base * 1.4) !default;

/* Form styles */
$o-radio-card-width					: 260px !default;
$o-radio-card-width-sm				: 150px !default;
$o-radio-card-width-lg				: 350px !default;
$o-radio-card-border-radius			: $border-radius-base !default;
$o-radio-card-border-color			: $input-border !default;
$o-radio-card-bg					: $input-bg !default;
$o-radio-card-label-color			: $text-color !default;
$o-radio-card-border-color-checked	: darken($input-border-focus,20%) !default;
$o-radio-card-bg-checked			: lighten($input-border-focus,30%) !default;
$o-radio-card-label-color-checked	: darken($input-border-focus,20%) !default;

$o-radio-card-border-color-hover	: darken($btn-default-border, 6%) !default;
$o-radio-card-bg-hover				: darken($btn-default-bg, 5%) !default;
$o-radio-card-label-color-hover		: $btn-default-color !default;

$o-radio-card-image-border-radius	: $border-radius-small !default;
$o-radio-card-image-border-color	: $input-border !default;
$o-radio-card-icon-font-size		: 28px !default;

/* Left side menu tree */
$o-tree-bg						: none !default;
$o-tree-border-color			: $list-group-border !default;
$o-tree-border-radius			: $list-group-border-radius !default;
$o-tree-link-color 				: $navbar-default-link-color !default;
$o-tree-link-bg					: none !default;
$o-tree-link-hover-color 		: $navbar-default-link-hover-color !default;
$o-tree-link-hover-bg			: $navbar-default-bg !default;
$o-tree-link-active-color 		: $link-color !default;
$o-tree-link-active-bg			: none !default;
$o-tree-link-active-hover-color : $link-hover-color !default;
$o-tree-link-active-hover-bg	: $gray-lighter !default;
$o-tree-link-active-font-weight	: bold !default;
$o-tree-link-active-parent-color 			: $o-tree-link-color !default;
$o-tree-link-active-parent-hover-color 		: $o-tree-link-hover-color !default;
$o-tree-link-active-parent-font-weight		: $o-tree-link-active-font-weight !default;
$o-tree-font-size				: $font-size-base !default;
$o-tree-padding-vertical		: 10px !default;
$o-tree-padding-horizontal_root_visible	: 10px !default;
$o-tree-padding-horizontal_root_hidden	: 20px !default;
$o-tree-padding-steps-px 		: 15px !default;
$o-tree-padding-left-steps-px 	: 2px !default;
$o-tree-padding-opener-left-px 	: 1px !default;
$o-tree-dnd-hover				: $brand-warning;

/* Tabbed pane component */
$o-tabbed-pane-padding			: ($padding-large-vertical * 2) 0 $padding-base-vertical 0;

/* Icon panel component */
$o-icon-panel-border				: 1px solid #e7e7e7 !default;
$o-icon-panel-border-radius			: $panel-border-radius !default;
$o-icon-panel-icon-bg-color			: #fcfcfc !default;
$o-icon-panel-content-bg-color		: $panel-bg !default;

/* Wizard */
$o-wizard-steps-bg-color				: #f9f9f9 !default;
$o-wizard-steps-border-color			: #d4d4d4 !default;
$o-wizard-step-bg-color					: #ededed !default;
$o-wizard-step-main-active-color		: $btn-primary-color !default;
$o-wizard-step-main-active-bg-color		: $btn-primary-bg !default;
$o-wizard-step-sub-active-color			: $text-color !default;
$o-wizard-step-sub-activ-bottom-color	: $brand-primary !default;

/* Auto completer input field */
$o-autocomplete-width				: 400px !default;
$o-autocomplete-font-size			: $font-size-base !default;
$o-autocomplete-line-height			: $line-height-base !default;
$o-autocomplete-border-radius		: $input-border-radius !default;
$o-autocomplete-bg-color			: $input-bg !default;
$o-autocomplete-color 				: $input-color !default;
$o-autocomplete-suggestion-color 	: $btn-primary-color !default;
$o-autocomplete-suggestion-bg-color	: $btn-primary-bg !default;

/* Chart library configuration for visualized statistics */
$o-d3chart-default 				: $brand-primary !default;
$o-d3chart-light 				: lighten($brand-primary, 15%) !default;
$o-d3chart-dark 				: darken($brand-primary, 15%) !default;

/* Toggle sliders */
$o-toggle-size					: 14px !default;
$o-toggle-border-color			: $gray-light !default;
$o-toggle-bg					: $gray-lighter !default;
$o-toggle-text-color			: $text-muted !default;
$o-toggle-color					: $gray-light !default;
$o-toggle-on-color				: $gray-lighter !default;
$o-toggle-on-bg					: $brand-primary !default;
$o-toggle-on-border-color		: $brand-primary !default;
$o-toggle-on-text-color			: $gray-lighter !default;

/* Dirty button */
$o-button-dirty-bg				: $btn-warning-bg !default; 
$o-button-dirty-color			: o-a11y-color($btn-warning-color, $o-button-dirty-bg) !default;
$o-button-dirty-border			: darken($o-button-dirty-bg	, 5%) !default;
/* Ghost button */
$o-button-ghost-color					: $link-color !default;
$o-button-ghost-background-color			: transparent !default;
$o-button-ghost-border-color				: transparent !default;
$o-button-ghost-hover-background-color	: rgba($link-color, 0.1) !default;
$o-button-ghost-hover-border-color		: $link-color !default;
$o-button-mega-height					: 55px !default;
$o-button-mega-bg-color					: #fff !default;
$o-button-mega-hover-bg-color			: #e6e6e6 !default;
$o-button-mega-icon-width				: 40px !default;

/* Login page */
$o-login-header-color			: $brand-primary !default;
$o-login-bg-color				: rgba(255,255,255,0.95) !default;
$o-login-border-color			: #e7e7e7 !default;
$o-login-border					: 1px solid $o-login-border-color !default;
$o-login-border-radius			: $panel-border-radius !default;
$o-login-box-shadow				: 0px 1px 10px -1px rgba(0,0,0,.3) !default;
$o-login-padding				: 50px !default;
$o-login-xs-padding				: 10px !default;
$o-login-help-bg-color			: #e7e7e7 !default;
$o-login-help-link-color		: o-a11y-color($link-color, $o-login-help-bg-color) !default;
$o-login-form-width				: 480px !default;
$o-login-form-align				: right !default; 								/* left, center or right */
$o-login-form-bg-gradient-steps	: rgba(255,255,255,0.1) 0.2%, rgba(255,255,255,0.6) 60%, rgba(255,255,255,0.8) 100% !default;
$o-login-form-bg-img			: $o-images-path + "learn-bg.jpg" !default;  	/* image CC by Thomas Leuthard https://www.flickr.com/photos/thomasleuthard/8587724648/ */
$o-login-form-bg-position-left 	: center !default;
$o-login-form-bg-position-top	: center !default;
$o-login-btn-register-color		: $btn-info-color !default;
$o-login-btn-register-bg		: $btn-info-bg !default;
$o-login-btn-register-border	: darken($o-login-btn-register-bg, 5%) !default; 
$o-login-infomessage-border		: transparent !default;
$o-login-infomessage-radius		: $border-radius-base !default;
$o-login-infomessage-bg			: rgba(255,255,255,.5) !default;
$o-login-lead-color				: $text-color !default;
$o-login-lead-header-color		: $o-content-header-base-color !default;
$o-login-border-color			: #e5e5e5 !default;

/* Course and catalog site */
$o-coursesite-rowelem-width-md 	: 180px !default;
$o-coursesite-rowelem-height-md : 120px !default;
$o-coursesite-rowelem-space-md	: 10px 	!default;
$o-coursesite-rowelem-width-sm 	: 120px !default;
$o-coursesite-rowelem-height-sm : 80px !default;
$o-coursesite-rowelem-space-sm	: 8px 	!default;
$o-coursesite-rowelem-width-xs 	: 75px !default;
$o-coursesite-rowelem-height-xs : 50px !default;
$o-coursesite-rowelem-space-xs	: 0px 	!default;
$o-coursesite-rowelem-border 	: $btn-default-border !default; 
$o-coursesite-rowelem-border-radius : $border-radius-base !default;
$o-coursesite-rowelem-bg		: #fff !default;
$o-coursesite-catalog-space 	: $padding-large-vertical * 2 !default;
$o-coursesite-catalog-space-sm 	: $padding-large-vertical !default;
$o-coursesite-catalog-space-xs 	: $padding-xs-vertical !default;
$o-coursesite-catalog-border 	: $o-coursesite-rowelem-border !default;
$o-coursesite-meta-title-color	: $o-content-header-base-color !default;
$o-coursesite-meta-author-color	: $state-success-text !default;
$o-coursesite-meta-title-font-size	: ceil(($font-size-base * 2.6)) !default; /* same as h1 default size: 36px */
$o-coursesite-meta-header-border 	: $panel-default-border !default;
$o-coursesite-meta-header-border-width	: 1px !default; 
$o-coursesite-sidecol-bg		: $panel-default-heading-bg !default;
$o-coursesite-sidecol-border	: $panel-default-border !default;
$o-coursesite-sidecol-radius	: $border-radius-base !default;
$o-coursesite-sidecol-padding 	: $panel-body-padding !default;
$o-coursesite-start-bg			: $btn-primary-bg !default;
$o-coursesite-start-color		: o-a11y-color($btn-primary-color, $o-coursesite-start-bg) !default;
$o-coursesite-start-border		: darken($o-coursesite-start-bg, 5%) !default;
$o-coursesite-book-bg			: $btn-warning-bg !default;
$o-coursesite-book-color		: o-a11y-color($btn-warning-color, $o-coursesite-book-bg) !default;
$o-coursesite-book-border		: darken($o-coursesite-book-bg, 5%) !default;
$o-coursesite-details-bg		: $btn-success-bg !default;
$o-coursesite-details-color		: o-a11y-color($btn-success-color, $o-coursesite-details-bg) !default;
$o-coursesite-details-border	: darken($o-coursesite-details-bg, 5%) !default;
$o-coursesite-go-xs-color		: $o-coursesite-start-color !default; 
$o-coursesite-go-xs-bg			: $o-coursesite-start-bg !default;
$o-cat2-header-height			: 240px !default;
$o-cat2-header-noimage-bg				: linear-gradient(190deg, lighten($brand-primary, 80%) 10%, $brand-primary 100%), linear-gradient(40deg, lighten($brand-primary, 55%) 0%, adjust-hue($brand-primary, 5deg)60%) !default;
$o-cat2-header-noimage-bg-blend-mode		: screen, normal !default;
$o-cat2-header-box-bg-color				: rgba(255,255,255,.7) !default;
$o-cat2-search-row-margin-bottom		: 5px !default;
$o-cat2-launcher-margin-top				: 30px !default;
$o-cat2-launcher-margin-top-xs			: 40px !default;
$o-cat2-launcher-margin-top-md			: 55px !default;
$o-cat2-launcher-title-margin			: 20px 0px !default;
$o-cat2-tax-launcher-square-font-size	: 14px !default;

/* Repository */
$o-repo-preparation-color			: #4a6785;	/* blue */
$o-repo-coachpublished-color		: #1DC63F;	/* green-light */
$o-repo-published-color				: #14892c;	/* green */
$o-repo-closed-color				: #99583D;	/* brown */
$o-repo-trash-color					: #5A5958;	/* gray */
$o-repo-deleted-color				: #888;		/* black */
$o-repo-status-color-dark			: #333;
$o-repo-status-color-bright			: #fff;
$o-repo-access-denied-cross-fill		: $brand-primary  !default;

/* Access control */
$o-ac-offer-active-color			: #3c763d !default;
$o-ac-offer-inactive-color			: #8A6D40 !default;
$o-ac-method-border					: 1px solid #e7e7e7 !default;
$o-ac-method-border-radius			: $panel-border-radius !default;

/* Feed (Blog/Podcast) */
$o-feed-planned-color				: $o-repo-preparation-color;	/* blue */
$o-feed-published-color				: $o-repo-published-color;		/* green */
$o-feed-status-color-bright			: #fff;

/* Curriculum in course site */
$o-coursesite-curriculum-rowelem-height-md :	40px !default;

/* Course editor and runtime */
$o-course-show-icon-title		: false !default; 	// don't show icon in title - no info value
$o-course-show-icon-toc			: true !default;	// show icons in menu - looks prettier
$o-course-show-icon-menu		: true !default;	// show icons in menu - looks prettier
$o-course-show-icon-editor-menu : true !default;	// show icons in menu - looks prettier
$o-course-state-passed-color	: $state-success-text !default;
$o-course-state-failed-color	: $state-danger-text !default;
$o-course-state-unknown-color	: $state-warning-text !default;
$o-course-results-visible-color		: #3c763d !default;
$o-course-results-visible-bg-color	: #e4f1e7 !default;
$o-course-results-hidden-color		: #8A6D40 !default;
$o-course-results-hidden-bg-color	: #f3efeb !default;
$o-course-results-evaluation-done-color				: #3c763d !default;
$o-course-results-evaluation-done-bg-color			: #e4f1e7 !default;
$o-course-results-evaluation-in-progress-color		: #004C93 !default;
$o-course-results-evaluation-in-progress-bg-color	: #f3efeb !default;
$o-course-results-evaluation-open-color				: #F1C232 !default;
$o-course-results-evaluation-open-bg-color			: #f3efeb !default;
$o-course-results-evaluation-invalid-color			: #ff8113 !default;
$o-course-results-evaluation-invalid-bg-color		: #f4eeeb !default;
$o-course-assessment-table-part-bg-color	: $panel-default-heading-bg !default;
$o-course-assessment-chart-size:	62px !default;
$o-course-assessment-chart-padding:	2px !default;
$o-course-node-published		: $state-success-text !default;
$o-course-node-warning			: $state-warning-text !default;
$o-course-node-locked			: $state-info-text !default;
$o-course-node-error			: $state-danger-text !default;
$o-course-node-deleted			: $badge-bg !default;
$o-cn-style-border					: 1px solid #e7e7e7 !default;
$o-cn-style-border-radius			: $panel-border-radius !default;
$o-cn-style-border-width			: 3px !default;
$o-cn-style-bg						: #fcfcfc !default;
$o-cn-style-text-pading				: $panel-body-padding !default;
$o-cn-style-image-bg				: $brand-primary !default;
$o-cn-style-image-height			: 120px !default;
$o-cn-style-image-width				: 240px !default;
$o-cn-style-cover-text-bg			: rgba(255, 255, 255, 0.95) !default;
$o-cn-style-cover-text-padding		: 8px !default;
$o-cn-style-cat-dark-blue-color		: #000080 !default;
$o-cn-style-cat-light-blue-color	: #4169E1 !default;
$o-cn-style-cat-purple-color		: #800080 !default;
$o-cn-style-cat-red-color			: #DC143C !default;
$o-cn-style-cat-orange-color		: #FF8C00 !default;
$o-cn-style-cat-yellow-color		: #FFD700 !default;
$o-cn-style-cat-light-green-color	: #32CD32 !default;
$o-cn-style-cat-dark-green-color	: #228B22 !default;
$o-cn-style-peekview-bg				: rgba(0, 0, 0, 0.025) !default;
$o-st-peekview-bg					: $body-bg !default;
$o-st-peekview-text-padding			: 2px 15px !default;

/* Learning path */
$o-lp-not-accessible			: lighten($text-muted,10%) !default;
$o-lp-ready						: #FCCA46 !default; /* yellow */
$o-lp-in-progress				: $o-lp-ready !default;
$o-lp-in-review					: $state-success-text !default;
$o-lp-done						: $state-success-text !default;
$o-lp-default					: #888 !default;
$o-lp-icon-bg-color				: #fff !default;
$o-lp-icon-radius				: 6px !default;
$o-lp-border					: 1px solid $navbar-default-border !default;
$o-lp-bg						: rgba(0,0,0,0.025) !default;
$o-lp-step-top					: 13px !default;
$o-lp-step-size					: 13px !default;
$o-lp-path-width				: 2px !default;
$o-lp-right						: 3px !default;
$o-lp-left						: 3px !default;
$o-lp-pagination-done-bgcolor				: $state-success-text !default;
$o-lp-pagination-done-border-color			: #2E5C2E !default;
$o-lp-pagination-done-color					: #FFFFFF !default;
$o-lp-pagination-in-progress-bgcolor		: rgba($o-lp-in-progress, 0.2) !default;
$o-lp-pagination-in-progress-border-color	: $o-lp-in-progress !default;
$o-lp-pagination-in-progress-icon-bgcolor	: #fcfcfc !default;
$o-lp-pagination-in-progress-icon-color		: $o-lp-in-progress !default;
$o-lp-pagination-in-progress-icon-hover-color	: $o-lp-in-progress !default;

/* Curriculum */
/* Basic rendering configuration */
$o-curriculum-level-steps-enabled		: false !default;
$o-curriculum-entry-image-enabled		: true !default;
$o-curriculum-show-description			: false !default;
$o-curriculum-element-inactive-color	: #777;
/* Default styles for each level */
$o-curriculum-border				: none !default;
$o-curriculum-bg					: none !default;
$o-curriculum-cols					: 1 !default;
$o-curriculum-margin				: math.div($line-height-computed,2) 0 math.div($line-height-computed,4) 0!default;
$o-curriculum-title-bg				: transparent !default;
$o-curriculum-title-padding			: $padding-base-horizontal $padding-base-vertical math.div($padding-base-horizontal,2) $padding-base-vertical!default;
$o-curriculum-lifecycle-bg			: transparent !default;
$o-curriculum-lifecycle-padding		: math.div($padding-base-horizontal,2) $padding-base-vertical $padding-base-horizontal $padding-base-vertical!default;
/* Level 0 specific styling */
$o-curriculum-l0-show-description	: true !default;
$o-curriculum-l0-border				: 1px solid #eee !default;
$o-curriculum-l0-bg					: #f6f6f6 !default;
$o-curriculum-l0-margin				: math.div($line-height-computed,2) 0 math.div($line-height-computed,4) 0 !default;
$o-curriculum-l0-title-bg			: $o-curriculum-title-bg !default;
$o-curriculum-l0-title-padding		: $padding-base-horizontal $padding-base-vertical !default;
$o-curriculum-l0-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
$o-curriculum-l0-lifecycle-bg		: $o-curriculum-lifecycle-bg !default;
$o-curriculum-l0-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
/* Level 1 specific rendering */
$o-curriculum-l1-show-description	: $o-curriculum-show-description !default;
$o-curriculum-l1-border				: $o-curriculum-border !default;
$o-curriculum-l1-bg					: $o-curriculum-bg !default;
$o-curriculum-l1-margin				: $o-curriculum-margin !default;
$o-curriculum-l1-title-bg			: #ebebeb !default;
$o-curriculum-l1-title-padding		: $o-curriculum-title-padding !default;
$o-curriculum-l1-lifecycle-bg		: $o-curriculum-l1-title-bg !default;
$o-curriculum-l1-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
/* Level 2 specific rendering */
$o-curriculum-l2-show-description	: $o-curriculum-show-description !default;
$o-curriculum-l2-border				: $o-curriculum-border !default;
$o-curriculum-l2-bg					: $o-curriculum-bg !default;
$o-curriculum-l2-margin				: $o-curriculum-margin !default;
$o-curriculum-l2-title-bg			: $o-curriculum-title-bg !default;
$o-curriculum-l2-title-padding		: $o-curriculum-title-padding !default;
$o-curriculum-l2-lifecycle-bg		: $o-curriculum-lifecycle-bg !default;
$o-curriculum-l2-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
/* Level 3 specific rendering */
$o-curriculum-l3-show-description	: $o-curriculum-show-description !default;
$o-curriculum-l3-border				: $o-curriculum-border !default;
$o-curriculum-l3-bg					: $o-curriculum-bg !default;
$o-curriculum-l3-margin				: $o-curriculum-margin !default;
$o-curriculum-l3-title-bg			: $o-curriculum-title-bg !default;
$o-curriculum-l3-title-padding		: $o-curriculum-title-padding !default;
$o-curriculum-l3-lifecycle-bg		: $o-curriculum-lifecycle-bg !default;
$o-curriculum-l3-lifecycle-padding	: $o-curriculum-lifecycle-padding !default;
/* Render all curriculum elements with courses in multi columnn layout? If no set to 1 */
$o-curriculum-entry-cols			: 2 !default;
$o-curriculum-entry-bg				: #f6f6f6 !default;
/* Element type specific styles */
/* Type course program */
$o-curriculum-style-program-show-description	: $o-curriculum-l0-show-description !default;
$o-curriculum-style-program-cols				: 1 !default;
$o-curriculum-style-program-border				: $o-curriculum-l0-border !default;
$o-curriculum-style-program-bg					: $o-curriculum-l0-bg !default;
$o-curriculum-style-program-margin				: $o-curriculum-l0-margin !default;
$o-curriculum-style-program-title-bg			: $o-curriculum-l0-title-bg !default;
$o-curriculum-style-program-title-padding		: $o-curriculum-l0-title-padding !default;
$o-curriculum-style-program-lifecycle-bg		: $o-curriculum-l0-lifecycle-bg !default;
$o-curriculum-style-program-lifecycle-padding	: $o-curriculum-l0-lifecycle-padding !default;
/* Type semester as part of a course program */
$o-curriculum-style-semester-show-description	: $o-curriculum-l1-show-description !default;
$o-curriculum-style-semester-cols				: 1 !default;
$o-curriculum-style-semester-border				: $o-curriculum-l1-border !default;
$o-curriculum-style-semester-bg					: $o-curriculum-l1-bg !default;
$o-curriculum-style-semester-margin				: $o-curriculum-l1-margin !default;
$o-curriculum-style-semester-title-bg			: $o-curriculum-l1-title-bg !default;
$o-curriculum-style-semester-title-padding		: $o-curriculum-l1-title-padding !default;
$o-curriculum-style-semester-lifecycle-bg		: $o-curriculum-l1-lifecycle-bg !default;
$o-curriculum-style-semester-lifecycle-padding	: $o-curriculum-l1-lifecycle-padding !default;
/* Type module within a semester */
$o-curriculum-style-module-show-description		: $o-curriculum-l2-show-description !default;
$o-curriculum-style-module-cols					: $o-curriculum-entry-cols !default;
$o-curriculum-style-module-border				: $o-curriculum-l2-border !default;
$o-curriculum-style-module-bg					: $o-curriculum-entry-bg !default;
$o-curriculum-style-module-margin				: $o-curriculum-l2-margin !default;
$o-curriculum-style-module-title-bg				: $o-curriculum-l2-title-bg !default;
$o-curriculum-style-module-title-padding		: $o-curriculum-l2-title-padding !default;
$o-curriculum-style-module-lifecycle-bg			: $o-curriculum-l2-lifecycle-bg !default;
$o-curriculum-style-module-lifecycle-padding	: $o-curriculum-l2-lifecycle-padding !default;
/* Type single course */
$o-curriculum-style-course-show-description		: $o-curriculum-l2-show-description !default;
$o-curriculum-style-course-cols					: 1 !default;
$o-curriculum-style-course-border				: $o-curriculum-l2-border !default;
$o-curriculum-style-course-bg					: $o-curriculum-l2-bg !default;
$o-curriculum-style-course-margin				: $o-curriculum-l2-margin !default;
$o-curriculum-style-course-title-bg				: $o-curriculum-l2-title-bg !default;
$o-curriculum-style-course-title-padding		: $o-curriculum-l2-title-padding !default;
$o-curriculum-style-course-lifecycle-bg			: $o-curriculum-l2-lifecycle-bg !default;
$o-curriculum-style-course-lifecycle-padding	: $o-curriculum-l2-lifecycle-padding !default;
	
/* Asssessment */
$o-assessment-mode-today-bg						: $state-success-bg !default;
$o-assessment-mode-today-border-color			: $state-success-text !default;
$o-assessment-mode-end-soon-bg					: $state-danger-bg !default;
$o-assessment-mode-end-soon-border-color		: $state-danger-text !default;
$o_assessment-mode-status-color-bright			: #fff;

$o-assessment-inspection-border-color			: 1px solid #cccccc !default;

$o-assessment-inspection-scheduled-color		: #4a6785 !default;
$o-assessment-inspection-active-color			: #32cd32 !default;
$o-assessment-inspection-inprogress-color		: #ff8c00 !default;
$o-assessment-inspection-carriedout-color		: #228b22 !default;
$o-assessment-inspection-cancelled-color		: #99583d !default;
$o-assessment-inspection-withdrawn-color		: #5a5958 !default;

$o-assessment-inspection-scheduled-color-bg		: #4a67850C;
$o-assessment-inspection-active-color-bg		: #32cd320C;
$o-assessment-inspection-inprogress-color-bg	: #ff8c000C;
$o-assessment-inspection-carriedout-color-bg	: #228b220C;
$o-assessment-inspection-cancelled-color-bg		: #99583d0C;
$o-assessment-inspection-withdrawn-color-bg		: #5a59580C;

/* Portfolio v2 */
$o-portfolio-assignment-color						: $brand-danger !default;
$o-portfolio-assignment-background-color			: $state-danger-bg !default;
$o-portfolio-assignment-font-size					: $font-size-small !default;
$o-portfolio-editor-border-color					: lighten($brand-primary, 20%) !default;
$o-portfolio-editor-border-width					: 25px !default;

$o-portfolio-entry-draft-color						: $brand-warning !default;
$o-portfolio-entry-published-color					: $brand-primary !default;
$o-portfolio-entry-inrevision-color					: $brand-danger !default;
$o-portfolio-entry-closed-color						: $brand-success !default;
$o-portfolio-entry-deleted-color					: #000 !default;
$o-portfolio-entry-incoming-color					: $brand-success !default;
$o-portfolio-entry-inprocess-color					: #c8c8c8 !default;
$o-portfolio-entry-done-color						: $brand-success !default;
$o-portfolio-media-content-background-color			: #f8f8f8 !default;
$o-portfolio-media-content-space					: $padding-large-vertical !default;
$o-portfolio-lead-space-sm							: $padding-large-vertical !default;
$o-portfolio-lead-background-color					: lighten($gray-base, 95%) !default;
$o-portfolio-lead-border-color						: darken($o-portfolio-lead-background-color,10%) !default;
$o-portfolio-lead-border-radius						: $border-radius-small !default;
$o-portfolio-lead-ended-background-color			: lighten($brand-danger, 30%) !default;
$o-portfolio-lead-ended-border-color				: darken($o-portfolio-lead-ended-background-color	,10%) !default;
$o-portfolio-page-summary-font-size					: $font-size-large !default;

/* Page editor */
$o-editor-edit-background-color						: #F5F5F5;

/* Editor */
$o-editor-settings-bg								: #f9f9f9 !default;
$o-editor-title-dark								: #000 !default;
$o-editor-title-bright								: #f9f9f9 !default;
$o-editor-hover-border-color						: #ef00ef !default;
$o-editor-drop-border-color							: #a0a0b0 !default;
$o-editor-drag-accepted-color						: #e80c96 !default;
$o-editor-container-border-color					: #eeeeee !default;
$o-editor-container-slot-padding					: 10px;

$o-editor-border-color								: #d9d9d9 !default;
$o-editor-border-width								: 25px !default;
$o-editor-selected-border-color						: $brand-primary !default;
$o-editor-selected-color							: $brand-primary !default;
$o-editor-element-border-width						: 1px !default;
$o-editor-inspector-border-width					: 1px;
$o-editor-inspector-border-color					: $o-editor-border-color;
$o-editor-inspector-title-color						: $brand-primary !default;
$o-editor-inspector-box-shadow						: 0px 8px 16px rgba(0, 0, 0, 0.15);
$o-editor-tools-box-shadow							: $o-editor-inspector-box-shadow;
$o-editor-layout-inner-v-border						: 1px solid $o-editor-border-color;
$o-editor-layout-inner-h-border						: 1px dashed $o-editor-border-color;
$o-editor-layout-pseudo-icon-border-color			: grey;
$o-editor-layout-pseudo-icon-bg-color				: #eeeeee;
$o-editor-layout-pseudo-icon-bg-active-color		: $brand-primary;

/* Media */
$o-media-status-valid-color							: $alert-success-text;
$o-media-status-valid-text							: $alert-success-text;
$o-media-status-valid-bg							: $alert-success-bg;
$o-media-status-revoked-color						: $alert-warning-text;
$o-media-status-revoked-text						: $alert-warning-text;
$o-media-status-revoked-bg							: $alert-warning-bg;

$o-media-version-label-color						: $alert-info-text;
$o-media-version-label-text							: $alert-info-text;
$o-media-version-label-bg							: $alert-info-bg;

$o-media-browser-space								: $padding-large-vertical * 2 - 1 !default;
$o-media-browser-space-sm							: $padding-large-vertical !default;
$o-media-browser-space-xs							: 6px !default;
$o-media-browser-card-width-md 						: 195px !default;
$o-media-browser-card-height-md 					: 215px !default;
$o-media-browser-card-visual-height-md 				: 130px !default;
$o-media-browser-card-width-sm 						: 104px !default;
$o-media-browser-card-height-sm 					: 122px !default;
$o-media-browser-card-visual-height-sm 				: 70px !default;

/* Content Editor */
$o-ce-padding-large									: 40px;
$o-ce-padding-light									: 20px;
$o-ce-padding-normal								: 10px;
$o-ce-padding-compact								: 5px;

/* QTI2 eAssessment */
$o-qti-status-notPresented-color					: lighten($text-muted,40%) !default;
$o-qti-status-notAnswered-color						: $brand-warning !default;
$o-qti-status-answered-color						: $brand-success !default;
$o-qti-status-correct-color							: $brand-success !default;
$o-qti-status-ended-color							: $brand-info !default;
$o-qti-status-incorrect-color						: $brand-danger !default;
$o-qti-status-invalid-color							: $brand-danger !default;
$o-qti-status-review-color							: $brand-info !default;
$o-qti-attempts-color								: $text-muted !default;
$o-qti-attempts-limited-color						: $brand-warning !default;
$o-qti-attempts-nomore-color						: $brand-info !default;
$o-qti-menu-link-color								: $o-tree-link-color !default;
$o-qti-menu-link-hover-color						: $o-tree-link-hover-color !default;
$o-qti-menu-link-active-color						: $o-tree-link-active-color !default;
$o-qti-menu-link-active-hover-color					: $o-tree-link-active-hover-color !default;
$o-qti-menu-link-active-hover-bg					: $o-tree-link-active-hover-bg !default;
$o-qti-menu-link-active-font-weight					: $o-tree-link-active-font-weight !default;
$o-qti-menu-bg										: $o-toolbar-bg-color !default;
$o-qti-menu-border-color							: $o-toolbar-border-color !default;
$o-qti-menu-border-radius							: $border-radius-base !default;
$o-qti-item-title-bg								: $o-qti-menu-bg !default;
$o-qti-item-title-border-color						: $o-qti-menu-border-color !default;
$o-qti-item-title-border-radius						: $o-qti-menu-border-radius !default;
$o-qti-item-min-height								: 200px !default;
$o-qti-item-border-color							: $o-qti-menu-border-color !default;
$o-qti-item-controls-bg								: $o-qti-menu-bg !default;
$o-qti-item-controls-border-color					: $o-qti-menu-border-color !default;
$o-qti-item-controls-border-radius					: $o-qti-menu-border-radius !default;
$o-qti-run-infos-bg									: $o-qti-menu-bg !default;
$o-qti-run-infos-border-color						: $o-qti-menu-border-color !default;
$o-qti-run-infos-border-radius						: $o-qti-menu-border-radius !default;
$o-qti-run-infos-progress-bg						: #eee !default;
$o-qti-run-infos-question-progress-color			: $brand-primary !default;
$o-qti-run-infos-score-progress-color				: $brand-primary !default;
$o-qti-badResponse-color							: $state-danger-text !default;
$o-qti-badResponse-warning-color					: $state-warning-text !default;
$o-qti-highlight-color								: $brand-danger !default;
$o-qti-bar-green									: $brand-success !default;
$o-qti-bar-red										: $brand-danger !default;
$o-qti-success										: $brand-success !default;
$o-qti-failure										: $brand-warning !default;
$o-qti-error										: $brand-danger !default;
$o-qti-box-bg										: #eee !default;
$o-qti-box-color									: #666 !default;
$o-qti-choice-tablelayout-bg						: #e7e7e7 !default;
$o-qti-userselection-color							: $text-color !default;
$o-qti-userselection-bg								: $state-info-bg !default;
$o-qti-userselection-border-color					: $state-info-border !default;
$o-qti-gap-border-color								: $input-border !default;
$o-qti-gap-drag-border-color						: $brand-primary !default;
$o-qti-gap-selected-border-color					: $brand-primary !default;
$o-qti-hottext-color								: $text-color !default;
$o-qti-hottext-bg									: $o-qti-menu-bg !default;
$o-qti-hottext-border-color							: $o-qti-menu-border-color !default;
$o-qti-hottext-border-radius						: 2px !default;
$o-qti-hottext-checked-color						: $o-qti-userselection-color !default;
$o-qti-hottext-checked-bg							: $o-qti-userselection-bg !default;
$o-qti-hottext-checked-border-color					: $o-qti-userselection-border-color !default;
$o-qti-match-border-color							: #999 !default;
$o-qti-match-choosed-border-color					: #777 !default;
$o-qti-match-drag-border-color						: $brand-warning !default;
$o-qti-match-sources-bg								: $o-qti-run-infos-bg !default;
$o-qti-match-sources-border-color					: $o-qti-run-infos-border-color !default;
$o-qti-match-source-bg								: $state-warning-bg !default;
$o-qti-match-source-border-style						: dashed !default;
$o-qti-match-selected-border-color					: $brand-warning !default;
$o-qti-match-selected-bg								: lighten($brand-warning, 25%) !default;
$o-qti-match-drop-accept-border-color				: darken($brand-info, 25%) !default;
$o-qti-match-target-border-color						: $brand-info !default;
$o-qti-match-target-bg								: $state-info-bg !default;
$o-qti-match-border-radius							: $panel-border-radius !default;
$o-qti-match-true-false-unanswered-bg				: lighten($gray-lighter, 5%) !default;
$o-qti-match-true-false-right-bg						: lighten($brand-success, 40%) !default;
$o-qti-match-true-false-wrong-bg						: lighten($brand-danger, 40%) !default;
$o-qti-match-kprim-correct-bg						: lighten($brand-success, 40%) !default;
$o-qti-match-kprim-wrong-bg							: lighten($brand-danger, 40%) !default;
$o-qti-order-source-border-style					: dashed !default;
$o-qti-order-sources-border-color					: $o-qti-run-infos-border-color !default;
$o-qti-order-border-radius							: $panel-border-radius !default;
$o-qti-order-source-bg								: $state-warning-bg !default;
$o-qti-order-sources-bg								: $o-qti-run-infos-bg !default;
$o-qti-order-drop-accept-border-color				: darken($brand-info, 25%) !default;
$o-qti-order-target-bg								: $state-info-bg !default;
$o-qti-order-target-border-color					: $brand-info !default;
$o-qti-textEntryInteraction-color					: $text-color !default;
$o-qti-textEntryInteraction-bg						: #fff !default;
$o-qti-textEntryInteraction-border-color			: $o-qti-gap-border-color !default;
$o-qti-textEntryInteraction-filled-color			: $o-qti-userselection-color !default;
$o-qti-textEntryInteraction-filled-bg				: $o-qti-userselection-bg !default;
$o-qti-textEntryInteraction-filled-border-color		: $o-qti-userselection-border-color !default;

$o-qti-inline-choice-print-border-color				: #999 !default;

$o-qti-editor-box-border-color						: #e5e5e5;

$o-qti-log-viewer-manual-correction-bg-color		: #feffee;

/* Video module */
$o-video-controls-selected							: rgba(33, 248, 248, 1);
$o-video-controls-bg								: rgba(50, 50, 50, 0.95);
$o-video-marker-bg-color							: #efefef;
$o-video-time-marker-default-bg-color				: $brand-info;

$o-video-startbox-main-border-color					: $brand-primary;
$o-video-startbox-main-bg-color						: rgba($brand-primary,0.1);
$o-video-startbox-border-radius						: $border-radius-base !default;
$o-video-startbox-bg-color							: #fcfcfc;

$o-video-correct-segments-color						: $brand-success;
$o-video-notcorrect-segments-color					: $brand-danger;

$o-video-timeline-correct-bg						: $brand-success;
$o-video-timeline-incorrect-bg						: $brand-danger;

/* Lecture module */
$o-lm-current-bg									: $o-toolbar-bg-color !default;
$o-lm-current-border-color							: transparent !default; 
$o-lm-current-border-radius							: $border-radius-base !default;

/* Chat and other floating window */
$o-dialog-window-bg				: #fefefe !default;
$o-dialog-window-bar-bg			: #eee !default;
$o-dialog-header-color			: $brand-primary !default;
$o-dialog-header-font-weight	: $headings-font-weight !default;
$o-dialog-header-background		: #f8f8f8 !default;
$o-dialog-footer-background		: $o-dialog-header-background !default;

/* Instant messaging and chat */
$o-im-chat-load-font-size		: $font-size-small !default;
$o-im-chat-history-border		: $gray-lighter !default;
$o-im-chat-message-bg			: #fff !default;
$o-im-chat-message-bg-alt		: #F4F4F4 !default;
$o-im-chat-message-border			: #eee !default;
$o-im-chat-message-bg-me			: $gray-lighter !default;
$o-im-chat-message-bg-status		: $state-warning-bg !default;
$o-im-chat-message-bg-error			: $state-danger-bg !default;
$o-im-chat-message-border-radius	: $border-radius-base !default;
$o-im-chat-roster-bg				: lighten($gray-lighter, 5%) !default;
$o-im-chat-border				: $gray-lighter !default;

$o-im-chat-from-color			: $gray-light !default;
$o-im-chat-from-font-size		: floor($font-size-base * 0.9) !default;
$o-im-chat-date-color			: $text-muted !default;
$o-im-chat-date-font-size		: floor($font-size-base * 0.7) !default;
$o-im-chat-body-font-size		: floor($font-size-base * 0.9) !default;
$o-im-groupchat-font-size		: floor($font-size-base * 0.9) !default;
$o-im-groupchat-user-color 		: $text-color !default;
$o-im-groupchat-vip-color 		: $state-success-text !default;
$o-im-groupchat-anonymous-color : $state-info-text !default;
$o-im-buddies-font-size			: floor($font-size-base * 0.9) !default;
$o-im-buddies-link-color		: $link-color !default;
$o-im-buddies-link-hover-color	: $link-hover-color !default;
$o-im-summary-color				: $badge-color !default;
$o-im-summary-bg				: $badge-bg !default;
$o-im-status-available-color	: #006633 !default;
$o-im-status-dnd-color			: #CCCC33 !default;
$o-im-status-unavailable-color	: #996633 !default;
$o-im-newmessage-color			: $brand-danger !default;
$o-im-newmessage-hover-color	: lighten($brand-warning, 10%) !default;

/* Forum module */
$o-forum-message-header-bg				: $panel-default-heading-bg !default;
$o-forum-message-header-border			: $panel-default-border !default;
$o-forum-message-header-author-color	:  o-a11y-color($link-color, $o-forum-message-header-bg) !default;
$o-forum-message-header-modified-color	:  o-a11y-color($state-warning-text, $o-forum-message-header-bg) !default;

$o-forum-message-footer-bg				: $o-forum-message-header-bg !default;
$o-forum-message-footer-border			: $o-forum-message-header-border;
$o-forum-message-footer-attachment-color: $o-forum-message-header-author-color !default;

$o-forum-quote-author-color 	: $text-muted !default;
$o-forum-quote-padding			: $padding-large-vertical;
$o-forum-quote-color 			: $gray !default;
$o-forum-quote-font-size		: $font-size-small !default;
$o-forum-attachment-font-size	: $font-size-small !default;

/* Evaluation forms */
$o-evaluation-block-margin-top				: 2em !default;
$o-evaluation-block-margin-bottom			: 2em !default;
$o-evaluation-side-labels-font-weight		: normal !default;
$o-evaluation-step-labels-margin-bottom		: 1em !default;
$o-evaluation-step-labels-font-weight		: bold !default;
$o-evaluation-step-background-color 		: $table-bg-accent !default;
$o-evaluation-slider-margin-bottom			: 1em !default;
$o-evaluation-slider-hover-background-color	: $table-bg-hover !default;

$o-evaluation-insufficient-color 			: $brand-danger !default;
$o-evaluation-insufficient-fill 			: lighten($o-evaluation-insufficient-color, 50%) !default;
$o-evaluation-neutral-color					: $brand-warning !default;
$o-evaluation-neutral-fill					: lighten($o-evaluation-neutral-color, 30%) !default;
$o-evaluation-sufficient-color				: $brand-success !default;
$o-evaluation-sufficient-fill				: lighten($o-evaluation-sufficient-color, 30%) !default;
$o-evaluation-anonymous-info-display		: inherit !default;

/* Box-Plot graphic */
$o-box-plot-axis-color						: $gray-dark !default;
$o-box-plot-values-color	 				: $brand-primary !default;
$o-box-plot-quartile-fill		 			: lighten($brand-primary, 45%) !default;

/* Quality management */
$o-qual-status-color-dark			: #333;
$o-qual-status-color-bright			: #fff;
$o-qual-dc-preparation-color		: #4a6785;
$o-qual-dc-running-color			: #993333;
$o-qual-dc-finished-color			: #14892c;
$o-qual-exec-future-color			: #4a6785;
$o-qual-exec-ready-color			: #ffd351;
$o-qual-exec-ready-color-dark		: #333;
$o-qual-exec-participating-color	: #993333;
$o-qual-exec-participated-color		: #14892c;
$o-qual-exec-over-color				: #aaa;
$o-qual-hm-base-background-color	: #337ab7;
$o-qual-prev-data-collection-color	: $o-repo-trash-color !default;
$o-qual-prev-regular-color			: $o-repo-preparation-color !default;
$o-qual-prev-blacklisted-color		: $o-repo-deleted-color !default;

/* Invitation */
$o-invitation-active-color			: #14892c;	/* green */
$o-invitation-inactive-color		: #99583D;	/* brown */


$o-repo-trash-color					: #5A5958;	/* gray */
$o-repo-deleted-color				: #888;		/* black */
$o-repo-status-color-dark			: #333;
$o-repo-status-color-bright			: #fff;
$o-repo-access-denied-cross-fill		: $brand-primary  !default;



/* Portlets site */
$o-portlet-border				: $panel-default-border !default;
$o-portlet-border-radius		: $panel-border-radius !default;
$o-portlet-bg					: $panel-bg !default;
$o-portlet-header-bg			: $panel-default-heading-bg !default;
$o-portlet-edit-border			: $panel-warning-border !default;
$o-portlet-edit-bg				: $panel-warning-heading-bg !default;

/* Full text search results */
$o-search-context-color			: $state-success-text !default;
$o-search-details-color			: $text-muted !default;
$o-search-details-font-size		: $font-size-small !default;
$o-search-details-bg			: #fff !default;
$o-search-excerpt-color			: $gray !default;
$o-search-highlight-color		: transparent !default; //google has no bgcolor. If you want one, try $state-warning-bg;
$o-search-highlight-font-weight	: bold !default; 

/* Message boxes */
$o-box-margin					: 20px !default;
$o-box-padding					: 12px !default;
$o-box-border-size				: 1px !default;
$o-box-border-radius			: $border-radius-base !default;
$o-box-info-bg					: $o-color-info-text-bg!default;
$o-box-info-color				: $o-color-info !default;
$o-box-note-bg					: $o-color-note-text-bg !default;
$o-box-note-color				: $o-color-note !default;
$o-box-tip-bg					: $o-color-tip-text-bg !default;
$o-box-tip-color				: $o-color-tip !default;
$o-box-important-bg				: $o-color-important-text-bg !default;
$o-box-important-color			: $o-color-important !default;
$o-box-success-bg				: $o-color-success-text-bg !default;
$o-box-success-color			: $o-color-success !default;
$o-box-warning-bg				: $o-color-warning-text-bg !default;
$o-box-warning-color			: $o-color-warning !default;
$o-box-error-bg					: $o-color-error-text-bg !default;
$o-box-error-color				: $o-color-error !default;

/* Context help buttons */
$o-chelp-font-size				: 10px !default;
$o-chelp-font-weight			: $btn-font-weight !default;
$o-chelp-bg						: $btn-primary-bg !default;
$o-chelp-color					: $btn-primary-color !default;
$o-chelp-border					: $btn-primary-border !default;
$o-chelp-border-radius			: 2px !default;
/* Form context help, aka help text */
$o-chelp-tooltip-color			: lighten($text-color, 25%) !default;

/* Date component */
$o-datecomp-border				: $gray !default;
$o-datecomp-month-bg			: $brand-primary !default;
$o-datecomp-month-color			: #fff !default;
$o-datecomp-day-bg				: $body-bg !default;
$o-datecomp-day-color			: $text-color !default;

/* Date picker component */
$o-datepicker-today-color		: $brand-primary !default;
$o-datepicker-today-border-color: $brand-primary !default;

/* Highscore component */
$o-hs-position-title-color			: gradient !default;
$o-hs-position-title-size			: 3em !default;
$o-hs-position-title-weight			: 700 !default;
$o-hs-position-size					: 1.2em !default;
$o-hs-position-weight				: bold !default;
$o-hs-position-relative-size		: 1em !default;	
$o-hs-position-relative-weight		: normal !default;	

$o-hs-podium-border					: 1px solid #d9d9d9 !default;
$o-hs-podium-border-radius			: $panel-border-radius !default;
$o-hs-podium-bg-gradientstyle		: true !default;
$o-hs-podium-first-bg				: #FFD700 !default;
$o-hs-podium-second-bg				: #C0C0C0 !default;
$o-hs-podium-third-bg				: #cd7f32 !default;

$o-hs-score-color					: $text-muted !default;
$o-hs-score-size					: 90% !default;
$o-hs-rank-first-color				: #666 !default;
$o-hs-rank-second-color				: #666 !default;
$o-hs-rank-third-color				: #666 !default;

$o-hs-podium-height					: 300px !default;
$o-hs-podium-margin-bottom			: 50px !default;
$o-hs-podium-first-height			: 150px !default;
$o-hs-podium-second-height			: 100px !default;
$o-hs-podium-third-height			: 80px !default;

$o-hs-singleportrait-vertical-align	: -125px !default;
$o-hs-position-height				: 30px !default;
$o-hs-position-fontsize				: 130% !default;

$o-hs-histogram-height				: 300px !default;
$o-hs-histogram-bottom				: -40px !default;
$o-hs-histogram-margin-bottom		: 40px !default;

$o-hs-histogram-axis-color				: #888 !default;
$o-hs-histogram-text-color				: #888 !default;
$o-hs-histogram-bar-myself-color		: $brand-primary !default;
$o-hs-histogram-bar-myself-hover-color	: lighten($brand-primary,10%) !default;
$o-hs-histogram-bar-other-color			: $gray-light !default;
$o-hs-histogram-bar-other-hover-color	: lighten($gray-light, 10%) !default;
$o-hs-histogram-bar-empty-color			: black !default;

/* Radial progress component */
$o-radial-progress-circle-size			: 120px !default;
$o-radial-progress-circle-size-sm		: 60px !default;
$o-radial-progress-circle-size-lg		: 180px !default;
$o-radial-progress-circle-size-inline	: $line-height-computed !default;
$o-radial-progress-circle-bg			: #eee !default;
$o-radial-progress-circle-color			: $progress-bar-bg !default;
$o-radial-progress-inset-color			: #fff !default;
$o-radial-progress-number-color			: $progress-bar-bg !default;
$o-radial-progress-addon-color			: $text-muted !default;
$o-radial-progress-margin 				: 10px !default;
$o-radial-progress-circle-success-color		: $progress-bar-success-bg !default;
$o-radial-progress-percentage-success-color	: $state-success-text !default;
$o-radial-progress-circle-warning-color		: $progress-bar-warning-bg !default;
$o-radial-progress-percentage-warning-color	: $state-warning-text !default;
$o-radial-progress-circle-danger-color		: $progress-bar-danger-bg !default;
$o-radial-progress-percentage-danger-color	: $state-danger-text !default;
$o-radial-progress-circle-info-color		: $progress-bar-info-bg !default;
$o-radial-progress-percentage-info-color	: $state-info-text !default;

/* Drawing (border cannot be change without modifications of the jquery plugin and hotspot interaction) */
$o-drawing-border-color		: $brand-primary;
$o-drawing-border-width		: 2px !default;
$o-drawing-select-border	: $brand-primary;
$o-drawing-select-bg		: transparentize($brand-primary, 0.5) !default;

/* Placeholder panels */
$o-panel-placeholder-border-width			: 2px !default;
$o-panel-placeholder-border-radius			: 10px !default;
$o-panel-placeholder-color					: #666 !default;
$o-panel-placeholder-font-weight			: bold !default;
$o-panel-placeholder-border-color			: #ccc!default;
$o-panel-placeholder-border-active-color	: $brand-primary !default;
$o-panel-placeholder-bg						: #fcfcfc !default;
$o-panel-placeholder-bg-active				: #f7f7f7 !default;
$o-panel-placeholder-padding				: 10px !default;

/* Citations */
$o-cit-quote-font-size			: $font-size-large !default;
$o-cit-quote-color				: $o-forum-quote-color !default;

/* Sliders */
$o-slider-border					: #aaa !default;
$o-slider-background				: #f9f9f9 !default;
$o-slider-handler-border-color		: $brand-primary !default;
$o-slider-handler-background-color	: $brand-primary !default;

/* Labels */
$o-labeled_color					: #fff !default;
$o-labeled_bg-color					: #666 !default;
$o-labeled-light-bg-color			: $o-toolbar-bg-color !default;
$o-labeled-yellow-color				: #574000 !default;
$o-labeled-yellow-bg-color			: #FBD774 !default;
$o-labeled-yellow-border-color		: #FCCA46 !default;
$o-labeled-yellow-light-bg-color		: #FFFFFF !default;

/* QPool */
$o-qpool-arrow-bg-color				: $o-toolbar-bg-color !default;
$o-qpool-arrow-border-bottom-width	: 3px !default;
$o-qpool-arrow-selected-bg-color	: $o-navbar-link-active-bg !default;
$o-qpool-arrow-selected-color		: $o-navbar-link-active-color !default;

$o-qpool-status-color-dark			: #333 !default;
$o-qpool-status-color-bright		: #fff !default;
$o-qpool-draft-color				: #4a6785 !default;
$o-qpool-revised-color				: #993333 !default;
$o-qpool-finalVersion-color			: #14892c !default;
$o-qpool-endOfLife-color			: #aaa !default;

/* Process step component */
$o-step-border						: 1px solid #e7e7e7 !default;
$o-step-border-radius				: $panel-border-radius !default;
$o-step-border-header-padding		: 10px !default;
$o-step-border-header-bg-color		: #fcfcfc;
$o-step-border-content-padding			: $panel-body-padding !default;
$o-step-border-width				: 4px !default;
$o-step-milestone-size				: ($o-step-border-width * 4) !default;
$o-step-bubble-font-size			: 19px;

$o-step-padding-top					: 10px !default;
$o-step-padding-left				: 30px !default;
$o-step-padding-bottom				: 10px !default;
$o-step-color						: #999 !default;
$o-step-active-color				: #F1C232 !default;
$o-step-active-marker-color			: $o-step-color !default;
$o-step-notavailable-color			: $o-step-color !default;
$o-step-notavailable-marker-color	: $o-step-notavailable-color !default;
$o-step-done-color					: $state-success-text !default;
$o-step-done-marker-color			: $o-step-done-color;

$o-step-expired-color				: #F1C232 !default;
$o-step-expired-marker-color		: $o-step-color;

$o-step-meta-color					: $text-muted !default;
$o-step-meta-size					: $font-size-small !default;

$o-step-status-active-color			: $o-labeled-yellow-color;
$o-step-status-active-bg-color		: $o-labeled-yellow-bg-color;
$o-step-status-active-border-color	: $o-labeled-yellow-border-color;
$o-step-status-waiting-color		: $o-labeled-yellow-color;
$o-step-status-waiting-bg-color		: $o-labeled-yellow-bg-color;
$o-step-status-waiting-border-color	: $o-labeled-yellow-border-color;
$o-step-status-review-color			: $o-labeled-yellow-color;
$o-step-status-review-bg-color		: $o-labeled-yellow-bg-color;
$o-step-status-review-border-color	: $o-labeled-yellow-border-color;
$o-step-status-done-color			: $o-repo-published-color !default;
$o-step-status-review-color			: $o-step-status-waiting-color;
$o-step-status-done-color			: $o-repo-published-color;
$o-step-status-notavailable-color	: $gray-light !default;
$o-step-status-expired-color		: #E69138 !default;
$o-step-status-late-color			: #B45E05 !default;
$o-step-status-extended-color		: #31708F !default;
$o-step-status-auto-collect-color	: $brand-danger !default;
$o-step-status-extended-color		: $brand-info !default;
$o-step-status-need-revision-color	: $brand-danger !default;

/* Email */
$o-email-brand							: $btn-primary-bg !default;
$o-email-font-family					: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$o-email-max-width						: 768px !default;
$o-email-content-margin					: 14px 0 14px 0 !default;
$o-email-content-padding-left			: 12px !default;
$o-email-content-h1-color				: $btn-primary-color !default;
$o-email-content-h1-bg					: $o-email-brand !default;
$o-email-content-strong-color			: $o-email-brand !default;
$o-email-footer-color					: rgb(170,170,170) !default;
$o-email-footer-top-color				: $o-email-brand !default;
$o-email-btn-color						: $btn-primary-color !default;
$o-email-btn-bg							: $btn-primary-bg !default;
$o-email-btn-border-color				: $btn-primary-border !default;
$o-email-btn-border-radius				: 4px !default;

/* Appointments */
$o-ap-select-icon-color				: #fcfcfc !default;
$o-ap-selectable-color				: $panel-default-border !default;
$o-ap-planned-color					: $brand-warning !default;
$o-ap-confirmed-color				: $brand-success !default;

/* Reminders */
$o-reminder-cell-padding			: 0.4em 0.6em 0.4em 0em !default;
$o-reminder-div-padding				: 0.2em 0em !default;
$o-reminder-marker-color			: $btn-primary-color !default;
$o-reminder-marker-bg-color			: $btn-primary-bg !default;
$o-reminder-marker-padding			: 0.2em 0.4em !default;

/* other configurations */
$o-portrait-radius				: 50% !default;
$o-portrait-border				: none !default;
$o-portrait-size				: 100px !default;
$o-portrait-small-size			: 30px !default;
$o-users-portrait-img-border				: 2px solid white !default;
$o-users-portrait-img-box-shadow			: 0px 1px 3px 0px rgba(0,0,0,0.2) !default;
$o-users-portrait-overlap				: 0.3; // 30%
$o-user-info-border						: solid 1px #d4d4d4 !default;
$o-user-info-border-radius				: 4px !default;
$o-user-info-profile-bg-color			: #f9f9f9 !default;
$o-user-info-profile-padding				: 15px !default;;
$o-user-info-profile-gap					: 20px !default;;
$o-user-info-portrait-size				: 50px !default;
$o-user-info-portrait-border				: $o-users-portrait-img-border !default;
$o-user-info-portrait-box-shadow			: $o-users-portrait-img-box-shadow !default;
$o-user-info-initials-font-size			: 22px !default;
$o-user-info-displayname-size			: 18px !default;
$o-user-info-items-padding				: 20px 20px 10px 20px !default;;
$o-user-initials-color					: white !default;
$o-print-header-logo-height		: 2cm !default;
$o-print-header-logo-width		: 5cm !default;
$o-bookmark-color				: #bc2d0c !default;
$o-imagebg-text-background		: rgba(255, 255, 255, 0.8) !default;
$o-progress-marker-color		: rgb(255, 0, 0) !default; /* danger color */

/* User autentication */
$o-panel-authentication-border	: 1px solid #e7e7e7 !default;
$o-authentication-color-level1	: #793E02;
$o-authentication-color-level2	: #0E375F;
$o-authentication-color-level3	: #274E15;
$o-authentication-label-bg		: $brand-primary;

/* Calendar */
$o-cal-color-width 					: 20px !default;
$o-cal-sec-border-width				: 5px !default;
$o-cal-desc-background-color			: $o-toolbar-bg-color !default;
$o-cal-orange-bg					: #ffc266 !default;
$o-cal-orange-border-color			: #ff9900 !default;
$o-cal-orange-color					: #575757 !default;
$o-cal-green-bg						: #66c266 !default;
$o-cal-green-border-color			: #009900 !default;
$o-cal-green-color					: #424242 !default;
$o-cal-blue-bg						: #4d6e9f !default;
$o-cal-blue-border-color				: #2e5894 !default;
$o-cal-blue-color					: #FFF !default;
$o-cal-yellow-bg					: #ffe066 !default;
$o-cal-yellow-border-color			: #ffcc00 !default;
$o-cal-yellow-color					: #5D5D5D !default;
$o-cal-red-bg						: #c26666 !default;
$o-cal-red-border-color				: #990000 !default;
$o-cal-red-color					: #191919 !default;
$o-cal-rebeccapurple-bg				: #663399 !default;
$o-cal-rebeccapurple-border-color	: #663399 !default;
$o-cal-rebeccapurple-color			: #FFF!default;
$o-cal-fuchsia-bg					: #FF00FF !default;
$o-cal-fuchsia-border-color			: #dd00dd !default;
$o-cal-fuchsia-color				: #2B2B2B !default;
$o-cal-olive-bg						: #7A7A00 !default;
$o-cal-olive-border-color			: #636300 !default;
$o-cal-olive-color					: #FFF !default;
$o-cal-navy-bg						: #000080 !default;
$o-cal-navy-border-color				: #000057 !default;
$o-cal-navy-color					: #FFF !default;
$o-cal-maroon-bg					: #800000 !default;
$o-cal-maroon-border-color			: #740000 !default;
$o-cal-maroon-color					: #FFF !default;
$o-cal-lime-bg						: #00FF00 !default;
$o-cal-lime-border-color				: #00e200 !default;
$o-cal-lime-color					: #004d00 !default;
$o-cal-grey-bg						: #5d5d5d !default;
$o-cal-grey-border-color				: #5d5d5d !default;
$o-cal-grey-color					: #FFF !default;

/* Files and Folders */
$o-files-size-okay								: #61E868;
$o-files-size-warning							: #FFB100;
$o-files-size-large								: #E82A0C;
$o-file-upload-border-bottom-color				: $text-muted;
$o-folder-row-thumbnail-size					: 30px !default;
$o-folder-row-thumbnail-icon-size				: 22px !default;
$o-folder-row-thumbnail-image-border			: 1px solid #e7e7e7 !default;
$o-folder-row-thumbnail-folder-icon-color		: $brand-primary !default;
$o-folder-card-thumbnail-height					: 172px !default;
$o-folder-card-thumbnail-icon-color				: #ccc !default;
$o-folder-card-thumbnail-folder-icon-color		: $brand-primary !default;
$o-folder-label-elements-bg-color				: white !default;
$o-folder-label-elements-color					: o-a11y-color($text-color, $o-folder-label-elements-bg-color) !default;
$o-folder-label-locked-bg-color					: white !default;
$o-folder-label-locked-color					: o-a11y-color(#D6001C, $o-folder-label-locked-bg-color) !default;
$o-folder-label-editing-bg-color				: white !default;
$o-folder-label-editing-color					: o-a11y-color(#337ab7, $o-folder-label-editing-bg-color) !default;
$o-folder-label-new-bg-color					: $btn-primary-bg !default;
$o-folder-label-new-color						: $btn-primary-color !default;
$o-folder-muted-color							: $text-muted !default;

/* Contact tracing */
$o-ct-confirmation-bg-color		: limegreen;

/* Immunity proof */
$o-ip-validated-bg-color		: #61E868;
$o-ip-claimed-bg-color			: #FFB100;
$o-ip-none-bg-color				: #E82A0C;

/* AddRemove Component */
$o-addremove-add-color			: $state-success-bg;
$o-addremove-remove-color		: $state-danger-bg;

/* Tags */
$o-tag-background-color								: $brand-primary !default;
$o-tag-font-color									: #fff;
$o-tag-selected-background-color					: $o-button-dirty-bg;
$o-tag-selected-border-color						: $o-button-dirty-border;
$o-tag-selection-border-color						: $btn-default-border !default;
$o-tag-selection-background-color					: $btn-default-bg !default;
$o-tag-selection-font-color							: $btn-default-color !default;
$o-tag-selection-selected-border-color				: $btn-primary-border !default;
$o-tag-selection-selected-background-color 			: $btn-primary-bg !default;
$o-tag-selection-selected-font-color				: $btn-primary-color !default;
$o-tag-selection-remove-selected-border-color		: $btn-danger-border !default;
$o-tag-selection-remove-selected-background-color 	: $btn-danger-bg !default;
$o-tag-selection-remove-selected-font-color			: $btn-danger-color !default;

/* Competences */
$o-competences-color				: darken($brand-primary, 5%);
$o-competences-font-color			: $o-competences-color;
$o-competences-selected-bg-color	: #fff;
$o-competences-selected-color		: $o-button-dirty-bg;
$o-competences-selected-border-color: $o-button-dirty-border;

/* Selection Background Colors */
$o-selection-dark-blue	: #00008033; 
$o-selection-light-blue	: #4169E133;
$o-selection-purple		: #80008033;
$o-selection-red		: #DD141433;
$o-selection-orange		: #FF8C0033;
$o-selection-yellow		: #FFD70033;
$o-selection-light-green: #32CD3233;
$o-selection-dark-green : #228B2233;

/* Shared Colors */
$o-color-light-gray  : #4f4f4f;
$o-color-yellow      : #C69B02;
$o-color-orange      : #C06613;
$o-color-brown       : #855E3A;
$o-color-red         : #D73939;
$o-color-orchid      : #BE0C87;
$o-color-purple      : #6F199D;
$o-color-light-blue  : #2276D9;
$o-color-cobalt-blue : #2422DB;
$o-color-dark-blue   : #18188F;
$o-color-light-green : #407303;
$o-color-sea-green   : #00644F;
$o-color-gold        : #FFD82A;
$o-color-silver      : #C0C0C0;
$o-color-bronze      : #FFA080;

/* Background variants */
$o-color-light-gray-bg  : mix($o-color-light-gray, white, 10%);
$o-color-yellow-bg      : mix($o-color-yellow, white, 10%);
$o-color-orange-bg      : mix($o-color-orange, white, 10%);
$o-color-brown-bg       : mix($o-color-brown, white, 10%);
$o-color-red-bg         : mix($o-color-red, white, 10%);
$o-color-orchid-bg      : mix($o-color-orchid, white, 10%);
$o-color-purple-bg      : mix($o-color-purple, white, 10%);
$o-color-light-blue-bg  : mix($o-color-light-blue, white, 10%);
$o-color-cobalt-blue-bg : mix($o-color-cobalt-blue, white, 10%);
$o-color-dark-blue-bg   : mix($o-color-dark-blue, white, 10%);
$o-color-light-green-bg : mix($o-color-light-green, white, 10%);
$o-color-sea-green-bg   : mix($o-color-sea-green, white, 10%);

$o-bright-text-and-border : #FCFCFC;
$o-dark-text-and-border   : #555555;

/* Video Colors */
$o-video-color             : #FCFCFC;

$o-video-color-light-gray  : $o-color-light-gray;
$o-video-color-yellow      : $o-color-yellow;
$o-video-color-orange      : $o-color-orange;
$o-video-color-brown       : $o-color-brown;
$o-video-color-red         : $o-color-red;
$o-video-color-orchid      : $o-color-orchid;
$o-video-color-purple      : $o-color-purple;
$o-video-color-light-blue  : $o-color-light-blue;
$o-video-color-cobalt-blue : $o-color-cobalt-blue;
$o-video-color-dark-blue   : $o-color-dark-blue;
$o-video-color-light-green : $o-color-light-green;
$o-video-color-sea-green   : $o-color-sea-green;
$o-video-color-practice    : #FFFFFF;

$o-video-border-color             : $o-bright-text-and-border;
$o-video-border-color-light-gray  : $o-video-border-color;
$o-video-border-color-yellow      : $o-video-border-color;
$o-video-border-color-orange      : $o-video-border-color;
$o-video-border-color-brown       : $o-video-border-color;
$o-video-border-color-red         : $o-video-border-color;
$o-video-border-color-orchid      : $o-video-border-color;
$o-video-border-color-purple      : $o-video-border-color;
$o-video-border-color-light-blue  : $o-video-border-color;
$o-video-border-color-cobalt-blue : $o-video-border-color;
$o-video-border-color-dark-blue   : $o-video-border-color;
$o-video-border-color-light-green : $o-video-border-color;
$o-video-border-color-sea-green   : $o-video-border-color;

/* Educational course types */
$o-edu-type-standard-course-color 			: o-a11y-color($gray) !default;
$o-edu-type-exam-course-color 				: o-a11y-color($o-cn-style-cat-red-color)  !default;
$o-edu-type-certification-course-color		: o-a11y-color($o-cn-style-cat-orange-color)  !default;
$o-edu-type-date-course-color				: o-a11y-color($o-cn-style-cat-purple-color)  !default;
$o-edu-type-seminar-course-color			: o-a11y-color($o-cn-style-cat-light-blue-color)  !default;
$o-edu-type-lecture-course-color			: o-a11y-color($o-cn-style-cat-light-green-color)  !default;
$o-edu-type-blendedlearning-course-color	: o-a11y-color($o-cn-style-cat-yellow-color)  !default;
$o-edu-type-selfstudy-course-color			: o-a11y-color($o-cn-style-cat-dark-green-color)  !default;

/* Export area */
$o-export-area-meta-color					: #777;
$o-export-area-rowelem-space-md				: 10px !default;

/* Practice */
$o-practice-play-main-border-color			: $brand-primary;
$o-practice-play-main-bg-color				: rgba($brand-primary,0.1);
$o-practice-play-bg-color					: #fcfcfc;
$o-practice-play-border-color				: #e5e5e5;
$o-practice-play-border-radius				: $border-radius-base !default;
$o-practice-play-start-link-bg-color		: #F7F6F6;
$o-practice-challenge-progress-bg-color		: $brand-primary;
$o-practice-progress-not-bg-color			: #CCCCCC;
$o-practice-progress-l1-bg-color			: $o-cn-style-cat-light-blue-color ;
$o-practice-progress-l2-bg-color			: $o-cn-style-cat-purple-color;
$o-practice-progress-l3-bg-color			: $o-cn-style-cat-orange-color;
$o-practice-progress-l4-bg-color			: $o-cn-style-cat-yellow-color;
$o-practice-progress-l5-bg-color			: $o-cn-style-cat-light-green-color;
$o-practice-level-disc-color				: $brand-primary;
$o-practice-rank-me-color					: $brand-primary;

/* Swiper */
$o-swiper-color								: $btn-primary-bg !default;
$o-swiper-button-width						: 30px !default;
$o-swiper-button-height						: 30px !default;
$o-swiper-button-font-size					: 20px !default;
$o-swiper-button-color						: $btn-default-color !default;
$o-swiper-button-bg-color					: $btn-default-bg !default;
$o-swiper-button-border						: 1px solid $btn-default-border !default;
$o-swiper-button-border-radius				: $border-radius-base !default;
$o-swiper-button-hover-color				: $brand-primary !default;
$o-swiper-button-hover-box-shadow			: 0px 2px 4px rgba(0, 0, 0, 0.075) !default;
$o-swiper-button-disabled-opacity			: .35 !default;

/* Glossary */
$o-gloss-tooltip-border-color               : #aaa;

/* Projects */
$o-proj-message-font-weight					: bold !default;
$o-proj-proj-rows-gap						: 10px !default;
$o-proj-timeline-row-gap						: 15px  !default;
$o-proj-timeline-row-margin-top				: 10px  !default;
$o-proj-timeline-overdue-color				: $brand-danger !default;
$o-proj-timeline-today-color					: $brand-info !default;
$o-proj-avatar-size-large					: 120px !default;
$o-proj-avatar-font-size-large				: calc($o-proj-avatar-size-large / 2) !default;
$o-proj-avatar-size-medium					: 60px !default;
$o-proj-avatar-font-size-medium				: calc($o-proj-avatar-size-medium / 2) !default;
$o-proj-avatar-size-small					: 30px !default;
$o-proj-avatar-font-size-small				: 14px !default;
$o-proj-avatar-border-radius					: 12px !default;
$o-proj-avatar-border-radius-small			: 6px !default;
$o-proj-avatar-color						: #fff !default;
$o-proj-avatar-dark-blue-bg-color			: #000080 !default;
$o-proj-avatar-light-blue-bg-color			: #4169E1 !default;
$o-proj-avatar-purple-bg-color				: #800080 !default;
$o-proj-avatar-red-bg-color					: #DC143C !default;
$o-proj-avatar-orange-bg-color				: #FF8C00 !default;
$o-proj-avatar-yellow-bg-color				: #FFD700 !default;
$o-proj-avatar-yellow-color					: $gray-dark !default;
$o-proj-avatar-light-green-bg-color			: #32CD32 !default;
$o-proj-avatar-dark-green-bg-color			: #228B22 !default;
// Upload example text: 2 * ($o-proj-header-background-width-max $o-proj-header-background-height-max)
$o-proj-header-avatar-offset-bottom			: 30px !default;
$o-proj-header-avatar-offset-left			: 20px !default;
$o-proj-header-background-height-min			: 110px !default;
$o-proj-header-background-height-max			: 250px !default;
$o-proj-header-background-width-max			: calc($o-page-width-max - $grid-gutter-width) !default;
$o-proj-header-margin-bottom					: 20px !default;
$o-proj-whiteboard-widget-image-height		: 240px  !default;

/* To-dos */
$o-todo-overdue-color						: $brand-danger !default;
$o-todo-details-row-gap						: 15px !default;

/* Dialog courseNode */
$o-dialog-cn-box-border-color				: $panel-default-border;
$o-dialog-cn-label-new-border-color			: $o-edu-type-standard-course-color;
$o-dialog-cn-label-new-color				: o-a11y-color(#998100) !default;

/* Card */
$o-card-border								: 1px solid #cccccc !default;
$o-card-border-radius						: 4px !default;
$o-card-hover-color							: $brand-primary !default;
$o-card-title-color							: $o-coursesite-meta-title-color !default;

/* Widget */
$o-widget-min-width							: 260px !default;
$o-widget-height							: 135px !default;
$o-widget-padding							: 20px !default;
$o-widget-border							: 1px solid #e7e7e7 !default;
$o-widget-border-radius						: 4px !default;
$o-widget-title-font-size					: 18px !default;
$o-widget-title-font-weight					: bold !default;
$o-widget-subtitle-font-size				: 12px !default;
$o-widget-subtitle-font-weight				: normal !default;
$o-widget-subtitle-color					: #777777 !default;
$o-widget-icon-oversize						: 3px !default;
$o-widget-icon-font-size					: ($o-widget-title-font-size + $o-widget-icon-oversize) !default;
$o-widget-additional-height					: 15px !default;
$o-widget-text-font-size					: 24px !default;
$o-widget-text-font-weight					: bold !default;
$o-widget-text-additional-font-size			: 12px !default;
$o-widget-text-additional-color				: #777777 !default;
$o-widget-figure-value-font-size			: 40px !default;
$o-widget-figure-value-font-weight			: bold !default;
$o-widget-figure-desc-font-size				: 14px !default;
$o-widget-figure-desc-font-weight			: normal !default;
$o-widget-figure-desc-color					: #2d2926 !default;
$o-widgets-gap								: 10px !default;

/* Course Quota */
$o-course-quota-progress-iq-bg-color		: $o-cn-style-cat-light-blue-color;
$o-course-quota-progress-i-bg-color			: $o-cn-style-cat-orange-color;
$o-course-quota-progress-ex-bg-color		: $o-cn-style-cat-purple-color;

/* Scope */
$o-scopes-gap								: 10px !default;
$o-scope-toggle-bg-color					: white !default;
$o-scope-toggle-color						: $text-color !default;
$o-scope-toggle-border-color				: $brand-primary !default;
$o-scope-toggle-on-bg-color					: $brand-primary !default;
$o-scope-toggle-on-color					: white !default;
$o-scope-toggle-on-border-color				: white !default;
$o-scope-toggle-bg-hover-color				: darken($o-scope-toggle-bg-color, 10%) !default;
$o-scope-toggle-on-bg-hover-color			: lighten($o-scope-toggle-on-bg-color, 10%) !default;
$o-scope-pref-wdith							: 180px !default;
$o-scope-height								: 45px !default;
$o-scope-title-font-weight					: bold !default;

/* Topic broker */
$o-tb_topic-card-thumbnail-height			: 172px !default;
$o-tb_topic-card-image-margin				: 10px !default;
$o-tb-topic-card-title-abbr-size				: 50px !default;
$o-tb-topic-card-title-abbr-color			: $btn-primary-color !default;
$o-tb-topic-card-title-abbr-bg-color			: $btn-primary-bg !default;
$o-tb-topic-card-title-abbr-border			: 1px solid $btn-primary-color !default;
$o-tb-topic-card-title-abbr-border-radius	: 4px !default;
$o-tb-details-separator-border-bottom		: 1px solid $panel-default-border !default;
$o-tb-broker-not-started-color				: $o-labeled_bg-color !default;
$o-tb-broker-selection-in-progress-color		: #fcca46 !default;
$o-tb-broker-enrollment-in-progress-color	: $o-repo-coachpublished-color !default;
$o-tb-broker-enrollment-done-color			: $brand-success !default;
$o-tb-priority-enrolled-color				: $brand-success !default;
$o-tb-priority-enrolled-color-inv			: white !default;
$o-tb-priority-surplus-color					: purple !default;
$o-tb-priority-surplus-color-inv				: white !default;
$o-tb-priority-waiting-color					: brown !default;
$o-tb-priority-waiting-color-inv				: white !default;
$o-tb-priority-not-enrolled-color			: #aaa !default;
$o-tb-priority-not-enrolled-color-inv		: white !default;
$o-tb-priority-fillin-color					: $text-muted !default;

/* Course node selection */
$o-cns-status-selected-color					: brown !default;
$o-cns-status-done-color						: $brand-success !default;
